# SPDX-License-Identifier: Apache-2.0
---

#### Validate required variables for bastion ####
# Note: 'ansible_to_terraform' uses bastion, but not all variables

- name: Assert that string variables are valid for bastion
  ansible.builtin.assert:
    that:
      - lookup('ansible.builtin.vars', item, default='__UNDEFINED_VARIABLE_DETECTED') != '__UNDEFINED_VARIABLE_DETECTED'
      - lookup('ansible.builtin.vars', item) is string
      - lookup('ansible.builtin.vars', item) | trim | length > 0
    fail_msg: |
      {% if lookup('ansible.builtin.vars', item, default='__UNDEFINED_VARIABLE_DETECTED') == '__UNDEFINED_VARIABLE_DETECTED' %}
        The variable '{{ item }}' is undefined.
      {% elif lookup('ansible.builtin.vars', item) is not string %}
        The variable '{{ item }}' is not a String.
      {% else %}
        The variable '{{ item }}' is empty.
      {% endif %}
  loop:
    - sap_vm_provision_bastion_public_ip
    - sap_vm_provision_bastion_user
    - sap_vm_provision_ssh_bastion_private_key_file_path
  when:
    - sap_vm_provision_iac_type == 'ansible'


- name: Assert that string or integer variables are valid for bastion
  ansible.builtin.assert:
    that:
      - lookup('ansible.builtin.vars', item, default='__UNDEFINED_VARIABLE_DETECTED') != '__UNDEFINED_VARIABLE_DETECTED'
      - lookup('ansible.builtin.vars', item) is string or lookup('ansible.builtin.vars', item) is integer
      - lookup('ansible.builtin.vars', item) | trim | length > 0
    fail_msg: |
      {% if lookup('ansible.builtin.vars', item, default='__UNDEFINED_VARIABLE_DETECTED') == '__UNDEFINED_VARIABLE_DETECTED' %}
        The variable '{{ item }}' is undefined.
      {% elif lookup('ansible.builtin.vars', item) is not string and lookup('ansible.builtin.vars', item) is not integer %}
        The variable '{{ item }}' is not a String or an Integer.
      {% else %}
        The variable '{{ item }}' is empty.
      {% endif %}
  loop:
    - sap_vm_provision_bastion_ssh_port
  when:
    - sap_vm_provision_iac_type == 'ansible'
