---

#### Provision host/s for Deployment of SAP Software (as part of an SAP Software Solution Scenario e.g. SAP S/4HANA Distributed HA) ####

- name: Begin execution
  delegate_to: localhost
  delegate_facts: false # keep facts with the original play hosts, not the delegated host
  block:

    - name: Execute to target {{ sap_vm_provision_iac_platform }} using {{ sap_vm_provision_iac_type }}
      ansible.builtin.include_tasks: "{{ 'platform_' + sap_vm_provision_iac_type }}/{{ sap_vm_provision_iac_platform }}/execute_main.yml"
      when: not sap_vm_provision_iac_post_deployment is defined or not sap_vm_provision_iac_post_deployment


#### Post Deployment of SAP - tasks for GCP, IBM Cloud, MS Azure ####

- name: Begin execution
  delegate_to: localhost
  delegate_facts: false # keep facts with the original play hosts, not the delegated host
  block:

    - name: Execute Post Deployment tasks for SAP on target {{ sap_vm_provision_iac_platform }} using {{ sap_vm_provision_iac_type }}
      ansible.builtin.include_tasks: "{{ 'platform_' + sap_vm_provision_iac_type }}/{{ sap_vm_provision_iac_platform }}/post_deployment_execute.yml"
      when: sap_vm_provision_iac_post_deployment is defined and sap_vm_provision_iac_post_deployment
