# SPDX-License-Identifier: Apache-2.0
---

# Use inventory_hostname_short to retrieve host specification from the dictionary.
# While ansible_hostname will work for Ansible only, using Ansible>Terraform may see ansible_hostname as 'localhost' and fail.
# For end user ease of use, the host specifications dictionary uses disk_count to indicate how many disks will be provisioned
# However the sap_storage_setup Ansible Role can not detect disk_count, and requires the key to be renamed lvm_lv_stripes

- name: SAP VM Provision - Convert host_specifications_dictionary.storage_definition to sap_storage_setup_definition  # noqa var-naming[no-role-prefix]
  ansible.builtin.set_fact:
    sap_storage_setup_definition: "{{ sap_storage_setup_definition | d([]) + [converted_element] }}"
  vars:
    converted_element: |
      {% set current_element = (convert_item | dict2items) %}
      {% set new_element = [] %}
      {% for entry in current_element %}
        {%- if "disk_count" in entry.key %}
          {%- set conv = new_element.extend([
            {
              'key': 'lvm_lv_stripes',
              'value': entry.value,
            }
          ]) %}
        {%- elif (not "disk_type" in entry.key) and (not "disk_iops" in entry.key) %}
          {%- set add_entry = new_element.extend([
            {
              'key': entry.key,
              'value': entry.value,
            }
          ]) %}
        {%- endif -%}
      {% endfor %}
      {{ new_element | items2dict }}
  loop: "{{ __sap_vm_provision_host_dict_spec.storage_definition | d([]) | list }}"
  loop_control:
    loop_var: convert_item
    label: "{{ convert_item.name }}"
