# SPDX-License-Identifier: Apache-2.0
---

# ansible.builtin.setup is already gathered in 'set_etc_hosts' so it is not needed again.

- name: SAP VM Provision - Hosts - Update /etc/hosts file for SAP HANA Scale-Out Active Coordinator
  ansible.builtin.lineinfile:
    dest: /etc/hosts
    line: "{{ hostvars[__coordinator]['ansible_host'] }}\t{{
          hostvars[__coordinator]['ansible_facts']['fqdn'] }}\t{{
          hostvars[__coordinator]['inventory_hostname_short'] }}
          # SAP HANA Scale-Out Coordinator"
    state: present
  vars:
    __coordinator: "{{ groups[sap_vm_provision_group_hana_primary] | first }}"
  when: not inventory_hostname_short == hostvars[__coordinator]['inventory_hostname_short']

- name: SAP VM Provision - Hosts - Update /etc/hosts file for SAP HANA Scale-Out Active Workers
  ansible.builtin.lineinfile:
    dest: /etc/hosts
    line: "{{ hostvars[host_item]['ansible_host'] }}\t{{
          hostvars[host_item]['ansible_facts']['fqdn'] }}\t{{
          hostvars[host_item]['inventory_hostname_short'] }}
          # SAP HANA Scale-Out {{ __role }}"
    state: present
  # Loop all except first one, which is assumed to be Master
  loop: "{{ groups[sap_vm_provision_group_hana_primary][1:] }}"
  loop_control:
    label: "{{ inventory_hostname_short }}"
    loop_var: host_item
  vars:
    __last: "{{ groups[sap_vm_provision_group_hana_primary] | last }}"
    __role: "{{ 'Standby'
      if sap_vm_provision_calculate_sap_hana_scaleout_standby | d(0) == 1 and host_item == hostvars[__last]['inventory_hostname_short']
      else 'Worker' }}"
  when:
    - not inventory_hostname_short == hostvars[host_item]['inventory_hostname_short']
