# SPDX-License-Identifier: Apache-2.0
---

# The IBM Cloud Load Balancer is provisioned before Linux Pacemaker
# and requires a temporary Health Check Probe port to be used with an an active OS service listening.
# During initial installation, the Health Check Port probe will use Port 55550/55551/55552 with netcat listening,
# and be switched after the SAP Installation and Linux Pacemaker installation to the correct port number.
#
# This is because an IBM Cloud Load Balancer Backend Pool Health Check probe is executed to all Backend Pool Members (Server instances),
# and if the host is not listening on the port it will fail, which will mark the resource as unhealthy,
# the traffic will not be routed to the host and if all hosts fail then the IBM Cloud Load Balancer Frontend IP will also fail causing SAP software failures.
#
# NOTE - use of weighted round-robin is to mitigate any potential risk of misconfiguration
# (both primary and secondary nodes showing as active), by using logic '
# for every 100 connections send 1 connection to secondary' when both are hosts are active.

- name: SAP VM Provision - IBM Cloud - Create IBM Cloud IAM Authorization Policy for IBM Cloud Load Balancer to communicate with IBM Cloud Private DNS
  ibm.cloudcollection.ibm_iam_authorization_policy:
    roles: Manager
    source_resource_group_id: "{{ __sap_vm_provision_register_ibmcloud_resource_group.resource.id }}"
    target_resource_group_id: "{{ __sap_vm_provision_register_ibmcloud_resource_group.resource.id }}"
    source_service_name: is
    source_resource_type: load-balancer
    target_service_name: dns-svcs
    ibmcloud_api_key: "{{ sap_vm_provision_ibmcloud_api_key }}"
  register: __sap_vm_provision_register_ibmcloud_iam_auth_policy
  no_log: "{{ __sap_vm_provision_no_log }}"
  failed_when:
    - not __sap_vm_provision_register_ibmcloud_iam_auth_policy.rc == 0
    - not 'already exists' in __sap_vm_provision_register_ibmcloud_iam_auth_policy.stderr


# Private Application Load Balancer (Layer 7), allows for expansion across multiple Availability Zones within a Region.
# Permits TCP and HTTP/S, does not permit UDP.
# Private Network Load Balancer (Layer 4), restricts HA within single Availability Zone. Permits TCP and UDP, does not permit HTTP/S.
# Use async with poll '0' to create all IBM Cloud Load Balancers in parallel

- name: SAP VM Provision - IBM Cloud - Create IBM Cloud Load Balancer (Private ALB) for each Virtual Hostname / Virtual IP required
  ibm.cloudcollection.ibm_is_lb:
    resource_group: "{{ __sap_vm_provision_register_ibmcloud_resource_group.resource.id }}"
    name: "{{ lb_item }}"
    type: private
    subnets: ["{{ __sap_vm_provision_register_ibmcloud_vpc_subnet.resource.id }}"]
    security_groups: "{{ __sap_vm_provision_register_ibmcloud_vpc_sg.results | map(attribute='resource.id') }}"
    # access_tags:
    logging: true # For ALB L7, not NLB L4
    # profile: network-fixed / dynamic # For NLB L4, not ALB L7
    # route_mode: false # For NLB L4, not ALB L7
    dns:
      - instance_crn: "{{ __sap_vm_provision_register_ibmcloud_pdns_service_instance.resource.resource_crn }}"
        zone_id: "{{ (__sap_vm_provision_register_ibmcloud_pdns.resource.dns_zones
          | selectattr('name', '==', sap_vm_provision_dns_root_domain) | first).zone_id }}"
    ibmcloud_api_key: "{{ sap_vm_provision_ibmcloud_api_key }}"
  loop:
    - "{{ sap_vm_provision_ha_load_balancer_name_hana if __sap_vm_provision_fact_is_ha_hana else '' }}"
    - "{{ sap_vm_provision_ha_load_balancer_name_anydb if __sap_vm_provision_fact_is_ha_anydb else '' }}"
    - "{{ sap_vm_provision_ha_load_balancer_name_nwas + '-ascs' if __sap_vm_provision_fact_is_ha_nwas_ers else '' }}"
    - "{{ sap_vm_provision_ha_load_balancer_name_nwas + '-ers' if __sap_vm_provision_fact_is_ha_nwas_ers else '' }}"
  loop_control:
    label: "Waiting for {{ lb_item }}"
    loop_var: lb_item
  register: __sap_vm_provision_register_ibmcloud_lb_provision_parallel
  no_log: "{{ __sap_vm_provision_no_log }}"
  when: not lb_item == ''
  async: 1200 # seconds maximum execution
  poll: 0 # parallel

- name: SAP VM Provision - IBM Cloud - Wait for IBM Cloud Load Balancer provisioning
  ansible.builtin.async_status:
    jid: "{{ lb_item.ansible_job_id }}"
  retries: 40
  delay: 30 # seconds
  register: __sap_vm_provision_register_ibmcloud_lb_provision_parallel_async_status
  until: __sap_vm_provision_register_ibmcloud_lb_provision_parallel_async_status.finished
  loop: "{{ __sap_vm_provision_register_ibmcloud_lb_provision_parallel.results | selectattr('ansible_job_id', 'defined') }}"
  loop_control:
    loop_var: lb_item
  # failed_when: not __sap_vm_provision_register_ibmcloud_lb_provision_parallel_async_status.rc == 0


# # Workaround to missing Ansible Module functionality in legacy Ansible Collection
# - name: SAP VM Provision - IBM Cloud - IBM Cloud CLI append DNS to Load Balancer  # noqa risky-shell-pipe
#   no_log: "{{ __sap_vm_provision_no_log }}"
#   register: __sap_vm_provision_register_ibmcloud_lb_update_dns
#   ansible.builtin.shell:
#     cmd: |
#       ibmcloud config --quiet --check-version false && \
#       ibmcloud login --apikey="{{ sap_vm_provision_ibmcloud_api_key }}" \
#         -g {{ sap_vm_provision_ibmcloud_resource_group_name }} \
#         -r {{ sap_vm_provision_ibmcloud_region }} --quiet
#       ibmcloud plugin install infrastructure-service -f --quiet
#       ibmcloud is load-balancer-update "{{ lb_item }}" \
#         --dns-instance-crn "{{ __sap_vm_provision_register_ibmcloud_pdns_service_instance.resource.resource_crn }}" \
#         --dns-zone-id "{{ (__sap_vm_provision_register_ibmcloud_pdns.resource.dns_zones
#         | selectattr('name', '==', sap_vm_provision_dns_root_domain) | first).zone_id }}"
#   loop:
#     - "{{ sap_vm_provision_ha_load_balancer_name_hana if __sap_vm_provision_fact_is_ha_hana else '' }}"
#     - "{{ sap_vm_provision_ha_load_balancer_name_anydb if __sap_vm_provision_fact_is_ha_anydb else '' }}"
#     - "{{ sap_vm_provision_ha_load_balancer_name_nwas + '-ascs' if __sap_vm_provision_fact_is_ha_nwas_ers else '' }}"
#     - "{{ sap_vm_provision_ha_load_balancer_name_nwas + '-ers' if __sap_vm_provision_fact_is_ha_nwas_ers else '' }}"
#   loop_control:
#     label: "Waiting for {{ lb_item }}"
#     loop_var: lb_item
#   when: not lb_item == ''
#   changed_when: true
#   failed_when:
#     - not __sap_vm_provision_register_ibmcloud_lb_update_dns.rc == 0
#     - not 'nothing to update the load balancer with' in __sap_vm_provision_register_ibmcloud_lb_update_dns.stderr

- name: SAP VM Provision - IBM Cloud - Identify IBM Cloud Virtual Servers info
  ibm.cloudcollection.ibm_is_instances_info:
    vpc: "{{ __sap_vm_provision_register_ibmcloud_vpc_subnet.resource.vpc }}"
    ibmcloud_api_key: "{{ sap_vm_provision_ibmcloud_api_key }}"
  register: __sap_vm_provision_register_ibmcloud_vs_all_info
  no_log: "{{ __sap_vm_provision_no_log }}"

# - name: SAP VM Provision - IBM Cloud - Identify IBM Cloud Load Balancers info
#   ibm.cloudcollection.ibm_is_lbs_info:
#     ibmcloud_api_key: "{{ sap_vm_provision_ibmcloud_api_key }}"
#   register: __sap_vm_provision_register_ibmcloud_lb_all_info
#   no_log: "{{ __sap_vm_provision_no_log }}"

# Workaround for bug which populates region and ibmcloud_api_key as TF arguments for ibm_is_lbs_info Ansible Module in legacy Ansible Collection
# ibmcloud plugin install infrastructure-service -f --quiet
- name: SAP VM Provision - IBM Cloud - IBM Cloud CLI execution to list Load Balancer/s info
  ansible.builtin.shell:
    cmd: |
      ibmcloud config --quiet --check-version false && \
      ibmcloud login --apikey="{{ sap_vm_provision_ibmcloud_api_key }}" \
        -g {{ sap_vm_provision_ibmcloud_resource_group_name }} \
        -r {{ sap_vm_provision_ibmcloud_region }} --quiet
      ibmcloud is load-balancers --quiet --output json
  register: __sap_vm_provision_register_ibmcloud_lb_all_info_shell
  no_log: "{{ __sap_vm_provision_no_log }}"
  changed_when: false

- name: SAP VM Provision - IBM Cloud - Set fact for IBM Cloud Load Balancer/s info
  ansible.builtin.set_fact:
    __sap_vm_provision_register_ibmcloud_lbs_all_info:
      "{{ ('[' + (__sap_vm_provision_register_ibmcloud_lb_all_info_shell.stdout | split('[', 1) | last)) | trim | from_json }}"

# Required because CLI executed with API Key
- name: SAP VM Provision - IBM Cloud - Set fact for Ansible Tasks debug with redaction
  ansible.builtin.set_fact:
    # __sap_vm_provision_register_ibmcloud_lb_update_dns:
    #   "{{ __sap_vm_provision_register_ibmcloud_lb_update_dns | regex_replace(sap_vm_provision_ibmcloud_api_key) }}"
    __sap_vm_provision_register_ibmcloud_lb_all_info_shell:
      "{{ __sap_vm_provision_register_ibmcloud_lb_all_info_shell | regex_replace(sap_vm_provision_ibmcloud_api_key) }}"


# This role does not expose variables for system numbers, so we should inform that ports will be skipped.
- name: SAP VM Provision - IBM Cloud - Show information about skipped SAP System port numbers to listen (as applicable) on IBM Cloud Load Balancer
  ansible.builtin.debug:
    msg: |
      WARN: Following ports will not be configured on Load Balancer if their respective variables are not defined.
      They can be defined globally or inside of the variable {{ __sap_vm_provision_host_spec_dict_name }}.

      {% if sap_system_hana_db_instance_nr | d('') | length == 0 %}
      The variable 'sap_system_hana_db_instance_nr' is required to configure following ports:
      - 3<sap_system_hana_db_instance_nr>13 - SAP HANA - System DB SQL
      - 3<sap_system_hana_db_instance_nr>15 - SAP HANA - MDC Tenant 1 SQL
      - 5<sap_system_hana_db_instance_nr>13 - SAP HANA - startsrv HTTP
      - 5<sap_system_hana_db_instance_nr>14 - SAP HANA - startsrv HTTPS
      {% endif %}
      {% if sap_system_nwas_abap_ascs_instance_nr | d('') | length == 0 %}
      The variable 'sap_system_nwas_abap_ascs_instance_nr' is required to configure following ports:
      - 32<sap_system_nwas_abap_ascs_instance_nr> - SAP NetWeaver ASCS - Dispatcher sapdp<ASCS_NN> process
      - 36<sap_system_nwas_abap_ascs_instance_nr> - SAP NetWeaver ASCS - Message Server sapms<SAPSID> process
      - 81<sap_system_nwas_abap_ascs_instance_nr> - SAP NetWeaver ASCS - Message Server HTTP sapms<SAPSID> process
      - 39<sap_system_nwas_abap_ascs_instance_nr> - SAP NetWeaver ASCS - Enqueue Server sapenq<SAPSID> process
      - 5<sap_system_nwas_abap_ascs_instance_nr>16 - SAP NetWeaver ASCS - Enqueue Replicator Server sapenqrepl<SAPSID> process
      - 5<sap_system_nwas_abap_ascs_instance_nr>13 - SAP NetWeaver ASCS - SAP Start Service (SAPControl SOAP) HTTP sapctrl<ASCS_NN> process
      - 5<sap_system_nwas_abap_ascs_instance_nr>14 - SAP NetWeaver ASCS - SAP Start Service (SAPControl SOAP) HTTPS (Secure) sapctrls<ASCS_NN>
      {% endif %}
      {% if sap_system_nwas_abap_ers_instance_nr | d('') | length == 0 %}
      The variable 'sap_system_nwas_abap_ers_instance_nr' is required to configure following ports:
      - 39<sap_system_nwas_abap_ers_instance_nr> - SAP NetWeaver ERS - Enqueue Replication Server sapenqr<SAPSID> process
      - 5<sap_system_nwas_abap_ers_instance_nr>13 - SAP NetWeaver ERS - SAP Start Service (SAPControl SOAP) HTTP sapctrl<ERS_NN> process
      - 5<sap_system_nwas_abap_ers_instance_nr>14 - SAP NetWeaver ERS - SAP Start Service (SAPControl SOAP) HTTPS (Secure) sapctrls<ERS_NN>
      {% endif %}


- name: SAP VM Provision - IBM Cloud - SAP HANA
  ansible.builtin.include_tasks:
    file: execute_setup_ha_hana.yml
  when: __sap_vm_provision_fact_is_ha_hana

- name: SAP VM Provision - IBM Cloud - SAP AnyDB
  ansible.builtin.include_tasks:
    file: execute_setup_ha_anydb.yml
  when: __sap_vm_provision_fact_is_ha_anydb

- name: SAP VM Provision - IBM Cloud - SAP ASCS/ERS
  ansible.builtin.include_tasks:
    file: execute_setup_ha_ascs_ers.yml
  when: __sap_vm_provision_fact_is_ha_nwas_ers
