# SPDX-License-Identifier: Apache-2.0
---

# When SAP HANA Scale-Out is used, if host name is not in original specifications then strip suffix node number from host name
- name: SAP VM Provision - IBM Cloud - Set host spec for SAP HANA Scale-Out
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_scaleout_origin_hostname: "{{ inventory_hostname | regex_replace('^(.+?)\\d*$', '\\1') }}"
  when:
    - sap_vm_provision_calculate_sap_hana_scaleout_active_coordinator is defined
    - not inventory_hostname in __sap_vm_provision_host_dict_plan.keys()

- name: SAP VM Provision - IBM Cloud - Provision IBM Cloud Virtual Server instance
  ibm.cloudcollection.ibm_is_instance:
    state: available
    name: "{{ inventory_hostname }}"
    image: "{{ (__sap_vm_provision_register_ibmcloud_os_image_list.resource.images
      | select('search', lookup('ansible.builtin.vars', __sap_vm_provision_host_image_dict_name)[sap_vm_provision_ibmcloud_vs_host_os_image])
      | sort(reverse=True, case_sensitive=False, attribute='name') | first).id }}"
    profile: "{{ __sap_vm_provision_host_dict_spec.virtual_machine_profile }}"
    keys:
      - "{{ __sap_vm_provision_register_ibmcloud_ssh_public_key.resource.id }}"

    resource_group: "{{ __sap_vm_provision_register_ibmcloud_resource_group.resource.id }}"
    zone: "{{ sap_vm_provision_ibmcloud_availability_zone }}"
    vpc: "{{ __sap_vm_provision_register_ibmcloud_vpc_subnet.resource.vpc }}"

    # The Subnet assigned to the deprecated primary Virtual Network Interface (vNIC) cannot be changed
    # The Name and Security Group assigned are editable
    # primary_network_interface:
    #   - name: "{{ inventory_hostname }}-vnic0"
    #     subnet: "{{ __sap_vm_provision_register_ibmcloud_vpc_subnet.resource.id }}"
    #     # When disable the Anti IP Spoofing = true, then Allow IP Spoofing = true
    #     allow_ip_spoofing: "{{ __sap_vm_provision_host_dict_spec.disable_ip_anti_spoofing }}"
    #     security_groups: "{{ __sap_vm_provision_register_ibmcloud_vpc_sg.results | map(attribute='resource.id') }}"
    # network_interfaces:

    # The Subnet assigned to the primary Virtual Network Interface (VNI) cannot be changed
    # The Name and Security Group assigned are editable
    primary_network_attachment:
      - name: "{{ inventory_hostname }}-vni0-attach"
        virtual_network_interface:
          - name: "{{ inventory_hostname }}-vni0"
            resource_group: "{{ __sap_vm_provision_register_ibmcloud_resource_group.resource.id }}"
            subnet: "{{ __sap_vm_provision_register_ibmcloud_vpc_subnet.resource.id }}"
            security_groups: "{{ __sap_vm_provision_register_ibmcloud_vpc_sg.results | map(attribute='resource.id') }}"
            # When disable the Anti IP Spoofing = true, then Allow IP Spoofing = true
            allow_ip_spoofing: "{{ __sap_vm_provision_host_dict_spec.disable_ip_anti_spoofing }}"
            enable_infrastructure_nat: true # must be true as Virtual Server instances require Infrastructure NAT
            protocol_state_filtering_mode: "auto"
            auto_delete: true # if VNI created separately, must be false
    # network_attachments:

    auto_delete_volume: true
    boot_volume:
      - name: "{{ inventory_hostname }}-boot-0"

    metadata_service:
      - enabled: true
        protocol: https
        response_hop_limit: 5

    placement_group: "{{ __placement_group }}"
    ibmcloud_api_key: "{{ sap_vm_provision_ibmcloud_api_key }}"

  no_log: "{{ __sap_vm_provision_no_log }}"
  register: __sap_vm_provision_register_provision_host_single
  vars:
    __placement_group: "{{ (
      (__sap_vm_provision_register_msazure_availability_set.results | selectattr('item','==','hana'))[0].state.name
      if (sap_vm_provision_group_hana_primary in __sap_vm_provision_host_dict_spec.sap_host_type
        or sap_vm_provision_group_hana_secondary in __sap_vm_provision_host_dict_spec.sap_host_type)
      else
      (__sap_vm_provision_register_msazure_availability_set.results | selectattr('item','==','anydb'))[0].state.name
      if (sap_vm_provision_group_anydb_primary in __sap_vm_provision_host_dict_spec.sap_host_type
        or sap_vm_provision_group_anydb_secondary in __sap_vm_provision_host_dict_spec.sap_host_type)
      else
      (__sap_vm_provision_register_msazure_availability_set.results | selectattr('item','==','nwas'))[0].state.name
      if (sap_vm_provision_group_nwas_ascs in __sap_vm_provision_host_dict_spec.sap_host_type
        or sap_vm_provision_group_nwas_ers in __sap_vm_provision_host_dict_spec.sap_host_type)
      ) | d(omit) }}"


# Create flat list with names for each volume to be created.
- name: SAP VM Provision - IBM Cloud - Set fact for target device map
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_filesystem_volume_map: |
      {% set disks_map = [] -%}
      {% for storage_item in __sap_vm_provision_host_dict_spec.storage_definition -%}
        {% for idx in range(0, storage_item.disk_count | d(1)) -%}
          {% if (storage_item.filesystem_type is defined) -%}
            {% if ('swap' in storage_item.filesystem_type and storage_item.swap_path is not defined)
            or ('swap' not in storage_item.filesystem_type and storage_item.nfs_path is not defined) -%}
              {% set vol = disks_map.extend([
              {
                'definition_key': storage_item.name,
                'name': storage_item.name + idx|string,
                'size': storage_item.disk_size | d(0),
                'type': storage_item.disk_type | d('general-purpose'),
                'iops': storage_item.disk_iops | d(omit)
              }
              ]) %}
            {%- endif %}
          {%- endif %}
        {%- endfor %}
      {%- endfor %}
      {{ disks_map }}

- name: SAP VM Provision - IBM Cloud - Provision IBM Cloud Block Storage volumes for IBM Cloud VS instance filesystems
  ibm.cloudcollection.ibm_is_volume:
    resource_group: "{{ __sap_vm_provision_register_ibmcloud_resource_group.resource.id }}"
    zone: "{{ sap_vm_provision_ibmcloud_availability_zone }}"
    name: "{{ inventory_hostname + '-vol-' + vol_item.name | replace('_', '-') }}"
    profile: "{{ vol_item.type }}"
    capacity: "{{ vol_item.size }}"
    iops: "{{ vol_item.iops | d(omit) }}"
    ibmcloud_api_key: "{{ sap_vm_provision_ibmcloud_api_key }}"
  loop: "{{ storage_disks_map }}"
  loop_control:
    loop_var: vol_item
    index_var: vol_item_index
    label: "{{ vol_item.definition_key }}: {{ vol_item.name }} (size: {{ vol_item.size }})"
  register: __sap_vm_provision_register_provision_host_single_volumes
  no_log: "{{ __sap_vm_provision_no_log }}"
  when:
    - vol_item.size > 0

- name: SAP VM Provision - IBM Cloud - Attach IBM Cloud Block Storage volumes as filesystem for IBM Cloud VS instance
  ibm.cloudcollection.ibm_is_instance_volume_attachment:
    name: "{{ vol_item.resource.name }}-attach"
    volume: "{{ vol_item.resource.id }}"
    instance: "{{ __sap_vm_provision_register_provision_host_single.resource.id }}"
    delete_volume_on_attachment_delete: true
    delete_volume_on_instance_delete: true
    ibmcloud_api_key: "{{ sap_vm_provision_ibmcloud_api_key }}"
  loop: "{{ __sap_vm_provision_register_provision_host_single_volumes.results }}"
  loop_control:
    loop_var: vol_item
    index_var: vol_item_index
    label: "{{ vol_item.resource.name }}"
  register: __sap_vm_provision_register_provision_host_single_volume_attachments
  no_log: "{{ __sap_vm_provision_no_log }}"


- name: SAP VM Provision - IBM Cloud - Read IBM Cloud VS information
  ibm.cloudcollection.ibm_is_instance:
    name: "{{ __sap_vm_provision_register_provision_host_single.resource.name }}"
    ibmcloud_api_key: "{{ sap_vm_provision_ibmcloud_api_key }}"
  register: __sap_vm_provision_register_provision_host_single_info
  no_log: "{{ __sap_vm_provision_no_log }}"

- name: Add host facts
  delegate_to: "{{ inventory_hostname }}"
  delegate_facts: true
  ansible.builtin.set_fact:
    __sap_vm_provision_register_provision_host_single_volumes: "{{ __sap_vm_provision_register_provision_host_single_volumes }}"
    __sap_vm_provision_register_provision_host_single_info: "{{ __sap_vm_provision_register_provision_host_single_info }}"


# use default to handle different r/ds data structure
- name: SAP VM Provision - IBM Cloud - Create fact for delegate host IP
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_private_ip:
      "{{ __sap_vm_provision_register_provision_host_single.resource.primary_network_attachment[0].virtual_network_interface[0].primary_ip[0].address
      | d(__sap_vm_provision_register_provision_host_single.resource.primary_network_attachment[0].primary_ip[0].address) }}"


- name: SAP VM Provision - IBM Cloud - Copy facts to delegate host - when using Bastion SSH Proxy connection from Ansible control node to target node/s
  delegate_to: "{{ __sap_vm_provision_fact_private_ip }}"
  delegate_facts: true
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_ssh_args_bastion: >-
      -o ProxyCommand='ssh -W %h:%p {{ sap_vm_provision_bastion_user }}@{{ sap_vm_provision_bastion_public_ip }}
      -p {{ sap_vm_provision_bastion_ssh_port }}
      -i {{ sap_vm_provision_ssh_bastion_private_key_file_path }}
      {{ sap_vm_provision_ssh_bastion_ssh_args }}'
  when:
    - sap_vm_provision_bastion_execution
    - sap_vm_provision_bastion_user | d('') != ''
    - sap_vm_provision_bastion_public_ip | d('') != ''
    - sap_vm_provision_bastion_ssh_port | d('') != ''
    - sap_vm_provision_ssh_bastion_private_key_file_path | d('') != ''


- name: Block to allow login from root OS User
  remote_user: root
  become: true
  become_user: root
  delegate_to: "{{ __sap_vm_provision_fact_private_ip }}"
  delegate_facts: true
  vars:
    ansible_ssh_private_key_file: "{{ sap_vm_provision_ssh_host_private_key_file_path }}"
    ansible_ssh_common_args: "{{ sap_vm_provision_ssh_host_ssh_args }} {{ __sap_vm_provision_fact_ssh_args_bastion | d('') }}"
  block:

    - name: SAP VM Provision - IBM Cloud - Create .ssh directory for root user
      ansible.builtin.file:
        path: /root/.ssh
        state: directory
        mode: '0744'

    - name: SAP VM Provision - IBM Cloud - Create root authorized_keys file and entries
      ansible.builtin.copy:
        dest: /root/.ssh/authorized_keys
        mode: '0600'
        content: |
          {{ __sap_vm_provision_register_ibmcloud_ssh_public_key.resource.public_key }}

    # We cannot obtain these facts from delegate without registering them first.
    # NOTE: Ansible 2.20 deprecation warning for ansible_facts does not seem to apply here.
    - name: SAP VM Provision - IBM Cloud - Get OS distribution facts on delegate host
      ansible.builtin.setup:
        gather_subset:
          - 'distribution_major_version'
          - 'os_family'
      register: __sap_vm_provision_register_gather_subset

    - name: SAP VM Provision - IBM Cloud - Permit root login
      ansible.builtin.replace:
        path: "{{ __sap_vm_provision_ssh_config_path }}"
        regexp: '(^PermitRootLogin no)'
        replace: 'PermitRootLogin yes'
      register: __sap_vm_provision_register_update_sshd_config
      vars:
        # Path to SSH config, which is different starting with SLES 16.
        __sap_vm_provision_ssh_config_path: >-
          {{ '/usr/etc/ssh/sshd_config'
              if __sap_vm_provision_register_gather_subset.ansible_facts['ansible_os_family'] == 'Suse' and
              (__sap_vm_provision_register_gather_subset.ansible_facts['ansible_distribution_major_version'] | int) >= 16
              else '/etc/ssh/sshd_config' }}

    - name: SAP VM Provision - IBM Cloud - Reload sshd service  # noqa no-handler
      ansible.builtin.service:
        name: sshd
        state: reloaded
      when: __sap_vm_provision_register_update_sshd_config.changed


- name: SAP VM Provision - IBM Cloud - Combine details of provisioned hosts into one list
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_provisioned_hosts: "{{ __sap_vm_provision_fact_provisioned_hosts + [__merged_results] }}"
  # Append keys to provisioning result, that are not part of default return dictionary.
  vars:
    __merged_results:
      "{{ __sap_vm_provision_register_provision_host_single
        | combine({'host_node': inventory_hostname},
        {'sap_host_type': __sap_vm_provision_host_dict_spec.sap_host_type},
        {'sap_system_type': (__sap_vm_provision_host_dict_spec.sap_system_type | d(''))}) }}"
