# SPDX-License-Identifier: Apache-2.0
---

- name: Ansible Task block for looped provisioning of AWS EC2 instances
  any_errors_fatal: true
  environment:
    # Sensitive variables are used by module parameters, not environment variables.
    # AWS_ACCESS_KEY_ID: "{{ sap_vm_provision_aws_access_key }}"
    # AWS_SECRET_ACCESS_KEY: "{{ sap_vm_provision_aws_secret_access_key }}"
    AWS_REGION: "{{ sap_vm_provision_aws_region }}"
  block:

    - name: SAP VM Provision - AWS - Identify OS Image
      amazon.aws.ec2_ami_info:
        owners: ["aws-marketplace"]
        filters:
          name: "{{ lookup('ansible.builtin.vars', __sap_vm_provision_host_image_dict_name)[sap_vm_provision_aws_ec2_vs_host_os_image] }}"
        # AWS credentials
        access_key: "{{ sap_vm_provision_aws_access_key }}"
        secret_key: "{{ sap_vm_provision_aws_secret_access_key }}"
      register: __sap_vm_provision_register_image_info
      no_log: "{{ __sap_vm_provision_no_log }}"

    - name: SAP VM Provision - AWS - Create Placement Groups for High Availability
      amazon.aws.ec2_placement_group:
        name: "{{ sap_vm_provision_aws_placement_resource_name }}-{{ placement_item }}"
        state: present
        strategy: spread
        access_key: "{{ sap_vm_provision_aws_access_key }}"
        secret_key: "{{ sap_vm_provision_aws_secret_access_key }}"
      loop:
        - "{{ 'hana'
          if sap_vm_provision_group_hana_secondary in __sap_vm_provision_host_dict_plan | json_query('*') | map(attribute='sap_host_type')
          else '' }}"
        - "{{ 'anydb'
          if sap_vm_provision_group_anydb_secondary in __sap_vm_provision_host_dict_plan | json_query('*') | map(attribute='sap_host_type')
          else '' }}"
        - "{{ 'nwas'
          if sap_vm_provision_group_nwas_ers in __sap_vm_provision_host_dict_plan | json_query('*') | map(attribute='sap_host_type')
          else '' }}"
      loop_control:
        loop_var: placement_item
      register: __sap_vm_provision_register_placement_group
      no_log: "{{ __sap_vm_provision_no_log }}"
      run_once: true
      when:
        - sap_vm_provision_aws_placement_resource_name | d('') | length > 0
        - sap_vm_provision_aws_placement_strategy_spread
        - not placement_item == ''


    - name: SAP VM Provision - AWS - Provision hosts to AWS
      ansible.builtin.include_tasks:
        file: "{{ __sap_vm_provision_task_file }}/execute_provision.yml"


    - name: SAP VM Provision - AWS - Set Bastion SSH argument facts
      ansible.builtin.set_fact:
        __sap_vm_provision_fact_ssh_args_bastion: >-
          -o ProxyCommand='ssh -W %h:%p {{ sap_vm_provision_bastion_user }}@{{ sap_vm_provision_bastion_public_ip }}
          -p {{ sap_vm_provision_bastion_ssh_port }}
          -i {{ sap_vm_provision_ssh_bastion_private_key_file_path }}
          {{ sap_vm_provision_ssh_bastion_ssh_args }}'
      when:
        - sap_vm_provision_bastion_execution
        - sap_vm_provision_bastion_user | d('') != ''
        - sap_vm_provision_bastion_public_ip | d('') != ''
        - sap_vm_provision_bastion_ssh_port | d('') != ''
        - sap_vm_provision_ssh_bastion_private_key_file_path | d('') != ''


    - name: SAP VM Provision - AWS - Add hosts provisioned to the Ansible Inventory
      ansible.builtin.add_host:
        name: "{{ add_item[0].host_node }}"
        groups: "{{ add_item[0].sap_system_type + '_' if (add_item[0].sap_system_type != '') }}{{ add_item[0].sap_host_type }}"
        ansible_host: "{{ add_item[0].instances[0].private_ip_address }}"
        ansible_user: "root"
        ansible_ssh_private_key_file: "{{ sap_vm_provision_ssh_host_private_key_file_path }}"
        ansible_ssh_common_args: "{{ sap_vm_provision_ssh_host_ssh_args }} {{ __sap_vm_provision_fact_ssh_args_bastion | d('') }}"
      loop: "{{ ansible_play_hosts | map('extract', hostvars, '__sap_vm_provision_fact_provisioned_hosts') }}"
      loop_control:
        label: "{{ add_item[0].host_node }}"
        loop_var: add_item
      register: __sap_vm_provision_register_add_hosts
      no_log: "{{ __sap_vm_provision_no_log }}"

    - name: SAP VM Provision - AWS - Gather information about AWS VPC Route Table for the VPC Subnet
      amazon.aws.ec2_vpc_route_table_info:
        filters:
          association.subnet-id: "{{ sap_vm_provision_aws_vpc_subnet_id }}"
        access_key: "{{ sap_vm_provision_aws_access_key }}"
        secret_key: "{{ sap_vm_provision_aws_secret_access_key }}"
      register: __sap_vm_provision_register_aws_vpc_subnet_rt_info
      no_log: "{{ __sap_vm_provision_no_log }}"

    # - name: SAP VM Provision - AWS - Set fact to hold all inventory hosts in all valid groups
    #   ansible.builtin.set_fact:
    #     __sap_vm_provision_fact_merged_hosts_list: "{{
    #         [[groups[sap_vm_provision_group_hana_primary] | d([])],
    #         [groups[sap_vm_provision_group_hana_secondary] | d([])],
    #         [groups[sap_vm_provision_group_anydb_primary] | d([])],
    #         [groups[sap_vm_provision_group_anydb_secondary] | d([])],
    #         [groups[sap_vm_provision_group_nwas_ascs] | d([])],
    #         [groups[sap_vm_provision_group_nwas_ers] | d([])],
    #         [groups[sap_vm_provision_group_nwas_pas] | d([])],
    #         [groups[sap_vm_provision_group_nwas_aas] | d([])]] | flatten | select() }}"

    - name: SAP VM Provision - AWS - Identify hosts
      ansible.builtin.include_tasks:
        file: common/identify_hosts.yml

    - name: SAP VM Provision - AWS - Set Ansible Vars
      ansible.builtin.include_tasks:
        file: common/set_ansible_vars.yml

    - name: SAP VM Provision - AWS - Update AWS Route53 DNS Records for hosts
      amazon.aws.route53:
        state: present
        private_zone: true
        zone: "{{ hostvars[inventory_hostname].sap_vm_provision_dns_root_domain }}"
        record: "{{ inventory_hostname }}.{{ hostvars[inventory_hostname].sap_vm_provision_dns_root_domain }}"
        type: A
        ttl: 7200
        value: "{{ hostvars[inventory_hostname].ansible_host }}"
        wait: true
        overwrite: "{{ sap_vm_provision_aws_dns_overwrite if sap_vm_provision_aws_dns_overwrite | bool else false }}"
        access_key: "{{ sap_vm_provision_aws_access_key }}"
        secret_key: "{{ sap_vm_provision_aws_secret_access_key }}"
      register: __sap_vm_provision_register_aws_route53
      no_log: "{{ __sap_vm_provision_no_log }}"

  rescue:
    # This requires no_log set on each Ansible Task, and not set on the Ansible Task Block
    # This requires an Ansible Task Block containing the Ansible Tasks for calling
    # Infrastructure Platform APIs (via Ansible Modules)
    - name: SAP VM Provision - AWS - Show errors in task outputs
      ansible.builtin.fail:
        msg: "{{ lookup('ansible.builtin.vars', loop_item) }}"
      loop:
        # Main
        - __sap_vm_provision_register_image_info
        - __sap_vm_provision_register_placement_group
        - __sap_vm_provision_register_add_hosts
        - __sap_vm_provision_register_aws_vpc_subnet_rt_info
        - __sap_vm_provision_register_aws_route53
        # Provision
        - __sap_vm_provision_register_provision_host_single
        - __sap_vm_provision_register_instance_info
        - __sap_vm_provision_register_volume_results
        - __sap_vm_provision_register_gather_subset
        - __sap_vm_provision_register_update_sshd_config
      loop_control:
        loop_var: loop_item
        index_var: loop_item_index
        label: "{{ 'Variable No. ' + (loop_item_index | string) }}"
      when:
        - lookup('ansible.builtin.vars', loop_item, default='') | length > 0
        - not lookup('ansible.builtin.vars', loop_item, default='') is skipped
        - lookup('ansible.builtin.vars', loop_item, default='') is failed

    - name: SAP VM Provision - AWS - Fail if provisioning failed
      ansible.builtin.fail:
        msg: |
          FAIL: Provisioning has failed during one of tasks not producing registered output.
          You can investigate failure in tasks above or by:
          - Increasing verbosity
          - Setting the variable '__sap_vm_provision_no_log' to 'false'


# New inventory hosts were created and they can be used without IP delegation.
- name: Ansible Task block to execute on target inventory hosts
  delegate_to: "{{ inventory_hostname }}"
  block:

    # Required to collect the remote host's facts for further processing
    # in the following steps
    - name: SAP VM Provision - AWS - Gather host facts
      ansible.builtin.setup:

    # Must be set to short hostname,
    # so that command 'hostname' and 'hostname -s' return the short hostname only;
    # otherwise may cause error with SAP SWPM using name.domain.com.domain.com
    - name: SAP VM Provision - AWS - Change system hostname to short name (not FQDN) as required by SAP
      ansible.builtin.hostname:
        name: "{{ inventory_hostname_short }}"

    - name: SAP VM Provision - AWS - Set /etc/hosts
      ansible.builtin.include_tasks:
        file: common/set_etc_hosts.yml

    - name: SAP VM Provision - AWS - Set /etc/hosts for High Availability
      ansible.builtin.include_tasks:
        file: common/set_etc_hosts_ha.yml
      when:
        - __sap_vm_provision_fact_is_ha_hana or __sap_vm_provision_fact_is_ha_anydb or __sap_vm_provision_fact_is_ha_nwas_ers

    - name: SAP VM Provision - AWS - Set /etc/hosts for Scale-Out
      ansible.builtin.include_tasks:
        file: common/set_etc_hosts_scaleout.yml
      when: __sap_vm_provision_fact_is_hana_scaleout

    - name: SAP VM Provision - AWS - Set vars for sap_storage_setup Ansible Role
      ansible.builtin.include_tasks:
        file: common/set_ansible_vars_storage.yml

    - name: SAP VM Provision - AWS - Register Package Repositories for OS Images with Bring-Your-Own-Subscription (BYOS)
      ansible.builtin.include_tasks:
        file: common/register_os.yml

  rescue:
    - name: SAP VM Provision - AWS - Fail if provisioning failed
      ansible.builtin.fail:
        msg: |
          FAIL: Provisioning has failed during one of tasks not producing registered output.
          You can investigate failure in tasks above or by:
          - Increasing verbosity
          - Setting the variable '__sap_vm_provision_no_log' to 'false'


- name: Ansible Task block for provisioning of High Availability resources for AWS EC2 instances
  delegate_to: "{{ sap_vm_provision_execution_host }}"
  any_errors_fatal: true
  run_once: true
  environment:
    # Sensitive variables are used by module parameters, not environment variables.
    # AWS_ACCESS_KEY_ID: "{{ sap_vm_provision_aws_access_key }}"
    # AWS_SECRET_ACCESS_KEY: "{{ sap_vm_provision_aws_secret_access_key }}"
    AWS_REGION: "{{ sap_vm_provision_aws_region }}"
  when:
    - __sap_vm_provision_fact_is_ha_hana or __sap_vm_provision_fact_is_ha_anydb or __sap_vm_provision_fact_is_ha_nwas_ers
  block:

    - name: SAP VM Provision - AWS - Provision High Availability resources for AWS EC2 hosts
      ansible.builtin.include_tasks:
        file: "{{ __sap_vm_provision_task_file }}/execute_setup_ha.yml"

  rescue:
    # This requires no_log set on each Ansible Task, and not set on the Ansible Task Block
    # This requires an Ansible Task Block containing the Ansible Tasks for calling
    # Infrastructure Platform APIs (via Ansible Modules)
    - name: SAP VM Provision - AWS - Show errors in task outputs
      ansible.builtin.fail:
        msg: "{{ lookup('ansible.builtin.vars', loop_item) }}"
      loop:
        - __sap_vm_provision_register_aws_account_info
        - __sap_vm_provision_register_aws_vpc_subnet_rt_info
        - __sap_vm_provision_register_aws_iam_role_ha_pacemaker
        - __sap_vm_provision_register_aws_iam_policy_dataprovider
        - __sap_vm_provision_register_aws_iam_policy_overlayip
        - __sap_vm_provision_register_aws_iam_attach_role
        # HANA
        - __sap_vm_provision_register_aws_vpc_subnet_rt_route_sap_hana
        - __sap_vm_provision_register_aws_route53_sap_hana
        - __sap_vm_provision_register_aws_iam_policy_stonith_saphana
        - __sap_vm_provision_register_aws_iam_associate_instance_saphana
        # AnyDB
        - __sap_vm_provision_register_aws_vpc_subnet_rt_route_sap_anydb
        - __sap_vm_provision_register_aws_route53_sap_anydb
        - __sap_vm_provision_register_aws_iam_policy_stonith_sapanydb
        - __sap_vm_provision_register_aws_iam_associate_instance_sapanydb
        # ASCS/ERS
        - __sap_vm_provision_register_aws_vpc_subnet_rt_route_sap_netweaver_ascs
        - __sap_vm_provision_register_aws_route53_sap_netweaver_ascs
        - __sap_vm_provision_register_aws_vpc_subnet_rt_route_sap_netweaver_ers
        - __sap_vm_provision_register_aws_route53_sap_netweaver_ers
        - __sap_vm_provision_register_aws_iam_policy_stonith_sapnwas
        - __sap_vm_provision_register_aws_iam_associate_instance_sapnwas
      loop_control:
        loop_var: loop_item
        index_var: loop_item_index
        label: "{{ 'Variable No. ' + (loop_item_index | string) }}"
      when:
        - lookup('ansible.builtin.vars', loop_item, default='') | length > 0
        - not lookup('ansible.builtin.vars', loop_item, default='') is skipped
        - lookup('ansible.builtin.vars', loop_item, default='') is failed

    - name: SAP VM Provision - AWS - Fail if provisioning failed
      ansible.builtin.fail:
        msg: |
          FAIL: Provisioning has failed during one of tasks not producing registered output.
          You can investigate failure in tasks above or by:
          - Increasing verbosity
          - Setting the variable '__sap_vm_provision_no_log' to 'false'
