# SPDX-License-Identifier: Apache-2.0
---

# When SAP HANA Scale-Out is used, if host name is not in original specifications then strip suffix node number from host name
- name: SAP VM Provision - AWS - Set host spec for SAP HANA Scale-Out
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_scaleout_origin_hostname: "{{ inventory_hostname | regex_replace('^(.+?)\\d*$', '\\1') }}"
  when:
    - sap_vm_provision_calculate_sap_hana_scaleout_active_coordinator is defined
    - not inventory_hostname in __sap_vm_provision_host_dict_plan.keys()


- name: SAP VM Provision - AWS - Provision AWS EC2 Virtual Server instance
  amazon.aws.ec2_instance:
    state: started
    name: "{{ inventory_hostname }}"
    image_id: "{{ (__sap_vm_provision_register_image_info.images | sort(attribute='creation_date') | last).image_id }}"
    instance_type: "{{ __sap_vm_provision_host_dict_spec.virtual_machine_profile }}"
    key_name: "{{ sap_vm_provision_aws_key_pair_name_ssh_host_public_key }}"
    security_groups: "{{ sap_vm_provision_aws_vpc_sg_names }}"
    vpc_subnet_id: "{{ sap_vm_provision_aws_vpc_subnet_id }}"
    metadata_options:
      http_endpoint: enabled
      # http_put_response_hop_limit: 8
      http_tokens: optional  # IMDSv1 = optional, IMDSv2 = required
      # instance_metadata_tags: disabled
    # Added in amazon.aws 8.2.0 and replaced deprecated parameter 'network'.
    # This is list parameter, but we define only single NIC here.
    network_interfaces:
      - assign_public_ip: false
    # Disable the Anti IP Spoofing by setting Source/Destination Check to false.
    # AWS has moved this parameter on top level, applying to all network interfaces.
    # Additional logic would be required if multi-NIC setup is needed in future.
    source_dest_check: "{{ not __sap_vm_provision_host_dict_spec.disable_ip_anti_spoofing }}"
    # availability_zone: "{{ sap_vm_provision_aws_vpc_availability_zone }}" # Conflict with vpc_subnet_id
    placement: "{{ placement_dict if sap_vm_provision_aws_placement_strategy_spread else omit }}"
    access_key: "{{ sap_vm_provision_aws_access_key }}"
    secret_key: "{{ sap_vm_provision_aws_secret_access_key }}"
  register: __sap_vm_provision_register_provision_host_single
  no_log: "{{ __sap_vm_provision_no_log }}"
  vars:
    placement_dict:
      availability_zone: "{{ sap_vm_provision_aws_vpc_availability_zone }}"
      group_name: "{{ (
        (__sap_vm_provision_register_placement_group.results | selectattr('item','==','hana'))[0].name
        if (sap_vm_provision_group_hana_primary in __sap_vm_provision_host_dict_spec.sap_host_type
          or sap_vm_provision_group_hana_secondary in __sap_vm_provision_host_dict_spec.sap_host_type)
        else
        (__sap_vm_provision_register_placement_group.results | selectattr('item','==','anydb'))[0].name
        if (sap_vm_provision_group_anydb_primary in __sap_vm_provision_host_dict_spec.sap_host_type
          or sap_vm_provision_group_anydb_secondary in __sap_vm_provision_host_dict_spec.sap_host_type)
        else
        (__sap_vm_provision_register_placement_group.results | selectattr('item','==','nwas'))[0].name
        if (sap_vm_provision_group_nwas_ascs in __sap_vm_provision_host_dict_spec.sap_host_type
          or sap_vm_provision_group_nwas_ers in __sap_vm_provision_host_dict_spec.sap_host_type)
        ) | d(omit) }}"
      tenancy: default # default is shared tenancy


- name: SAP VM Provision - AWS - Read AWS EC2 instance information
  amazon.aws.ec2_instance_info:
    filters:
      "tag:Name": "{{ inventory_hostname }}"
      "instance-state-name": ["running"]
    access_key: "{{ sap_vm_provision_aws_access_key }}"
    secret_key: "{{ sap_vm_provision_aws_secret_access_key }}"
  register: __sap_vm_provision_register_instance_info
  no_log: "{{ __sap_vm_provision_no_log }}"

- name: SAP VM Provision - AWS - Set fact for available storage volume device names
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_available_volumes: |-
      {% set volumes = [] %}
      {%- for letter in __sap_vm_provision_storage_vol_letters -%}
        {% for device in __sap_vm_provision_register_instance_info.instances[0].block_device_mappings -%}
          {% if '/dev/sd' + letter not in device.device_name -%}
            {% set dev = volumes.append('/dev/sd' + letter) %}
      {%- endif %}
      {%- endfor %}
      {% endfor %}
      {{ volumes | list | unique }}

# Combination of only the filesystem volume information from the host_specifications_dictionary
# for volume device assignment. This task assigns device names for each volume to be created.
- name: SAP VM Provision - AWS - Set fact for target device map
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_filesystem_volume_map: |
      {% set volume_map = [] -%}
      {% set av_vol = __sap_vm_provision_fact_available_volumes -%}
      {% for storage_item in __sap_vm_provision_host_dict_spec.storage_definition -%}
        {% for idx in range(0, storage_item.disk_count | d(1)) -%}
          {% if (storage_item.filesystem_type is defined) -%}
            {% if ('swap' in storage_item.filesystem_type and storage_item.swap_path is not defined)
            or ('swap' not in storage_item.filesystem_type and storage_item.nfs_path is not defined) -%}
              {% set vol = volume_map.extend([
              {
                'definition_key': storage_item.name,
                'device': av_vol[0],
                'fstype': storage_item.filesystem_type | d('xfs'),
                'name': storage_item.name + idx|string,
                'size': storage_item.disk_size | d(0),
                'type': storage_item.disk_type | d('gp3'),
                'iops': storage_item.disk_iops | d(omit)
              }
              ]) %}
            {%- set _ = av_vol.pop(0) -%}
            {%- endif %}
          {%- endif %}
        {%- endfor %}
      {%- endfor %}
      {{ volume_map }}


# The volume creation task requires the above task to define the parameter
# which contains the calculated unique device names.
- name: SAP VM Provision - AWS - Provision AWS EBS volumes for AWS EC2 Virtual Server instance filesystems
  amazon.aws.ec2_vol:
    name: "{{ inventory_hostname }}-vol_{{ vol_item.name }}"
    instance: "{{ __sap_vm_provision_register_provision_host_single.instance_ids[0] }}"
    volume_type: "{{ vol_item.type }}"
    volume_size: "{{ vol_item.size }}"
    iops: "{{ vol_item.iops | d(omit) }}"
    device_name: "{{ vol_item.device }}"
    delete_on_termination: true
    access_key: "{{ sap_vm_provision_aws_access_key }}"
    secret_key: "{{ sap_vm_provision_aws_secret_access_key }}"
  loop: "{{ __sap_vm_provision_fact_filesystem_volume_map }}"
  loop_control:
    loop_var: vol_item
    index_var: vol_item_index
    label: "{{ vol_item.definition_key }}: {{ vol_item.name }} (size: {{ vol_item.size }})"
  register: __sap_vm_provision_register_volume_results
  no_log: "{{ __sap_vm_provision_no_log }}"
  when:
    - vol_item.fstype is defined
    - vol_item.size > 0

- name: SAP VM Provision - AWS - Read AWS EC2 instance information after mounting volumes
  amazon.aws.ec2_instance_info:
    filters:
      "tag:Name": "{{ inventory_hostname }}"
    access_key: "{{ sap_vm_provision_aws_access_key }}"
    secret_key: "{{ sap_vm_provision_aws_secret_access_key }}"
  register: __sap_vm_provision_register_instance_info
  no_log: "{{ __sap_vm_provision_no_log }}"

# - name: SAP VM Provision - AWS - Copy add host facts to provisioned host
#   ansible.builtin.set_fact:
#     __sap_vm_provision_fact_filesystem_volume_map: "{{ __sap_vm_provision_fact_filesystem_volume_map }}"
#     __sap_vm_provision_register_volume_results: "{{ __sap_vm_provision_register_volume_results }}"
#     __sap_vm_provision_register_instance_info: "{{ __sap_vm_provision_register_instance_info }}"
#   delegate_to: "{{ inventory_hostname }}"
#   delegate_facts: true
#   no_log: "{{ __sap_vm_provision_no_log }}"

- name: SAP VM Provision - AWS - Create fact for delegate host IP
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_private_ip: "{{ __sap_vm_provision_register_provision_host_single.instances[0].private_ip_address }}"

- name: SAP VM Provision - Set Bastion SSH argument facts to delegate host
  delegate_to: "{{ __sap_vm_provision_fact_private_ip }}"
  delegate_facts: true
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_ssh_args_bastion: >-
      -o ProxyCommand='ssh -W %h:%p {{ sap_vm_provision_bastion_user }}@{{ sap_vm_provision_bastion_public_ip }}
      -p {{ sap_vm_provision_bastion_ssh_port }}
      -i {{ sap_vm_provision_ssh_bastion_private_key_file_path }}
      {{ sap_vm_provision_ssh_bastion_ssh_args }}'
  when:
    - sap_vm_provision_bastion_execution
    - sap_vm_provision_bastion_user | d('') != ''
    - sap_vm_provision_bastion_public_ip | d('') != ''
    - sap_vm_provision_bastion_ssh_port | d('') != ''
    - sap_vm_provision_ssh_bastion_private_key_file_path | d('') != ''


- name: Block to allow login from root OS User
  remote_user: ec2-user
  become: true
  become_user: root
  delegate_to: "{{ __sap_vm_provision_fact_private_ip }}"
  delegate_facts: true
  vars:
    ansible_ssh_private_key_file: "{{ sap_vm_provision_ssh_host_private_key_file_path }}"
    ansible_ssh_common_args: "{{ sap_vm_provision_ssh_host_ssh_args }} {{ __sap_vm_provision_fact_ssh_args_bastion | d('') }}"
  block:

    - name: SAP VM Provision - AWS - Wait until SSH connection is available
      ansible.builtin.wait_for_connection:
        timeout: 300

    # Remove everything before ssh-rsa/ed25519 but do not catch key comment that uses 'ssh-'
    - name: SAP VM Provision - AWS - Fix root authorized_keys entries
      ansible.builtin.replace:
        path: /root/.ssh/authorized_keys
        backup: true
        regexp: '(^.*command.* ssh-)'
        replace: 'ssh-'

    # We cannot obtain these facts from delegate without registering them first.
    # NOTE: Ansible 2.20 deprecation warning for ansible_facts does not seem to apply here.
    - name: SAP VM Provision - AWS - Get OS distribution facts on delegate host
      ansible.builtin.setup:
        gather_subset:
          - 'distribution_major_version'
          - 'os_family'
      register: __sap_vm_provision_register_gather_subset

    - name: SAP VM Provision - AWS - Permit root login
      ansible.builtin.replace:
        path: "{{ __sap_vm_provision_ssh_config_path }}"
        regexp: '(^PermitRootLogin no)'
        replace: 'PermitRootLogin yes'
      register: __sap_vm_provision_register_update_sshd_config
      vars:
        # Path to SSH config, which is different starting with SLES 16.
        __sap_vm_provision_ssh_config_path: >-
          {{ '/usr/etc/ssh/sshd_config'
              if __sap_vm_provision_register_gather_subset.ansible_facts['ansible_os_family'] == 'Suse' and
              (__sap_vm_provision_register_gather_subset.ansible_facts['ansible_distribution_major_version'] | int) >= 16
              else '/etc/ssh/sshd_config' }}

    - name: SAP VM Provision - AWS - Reload sshd service  # noqa no-handler
      ansible.builtin.service:
        name: sshd
        state: reloaded
      when: __sap_vm_provision_register_update_sshd_config.changed


- name: SAP VM Provision - AWS - Combine details of provisioned hosts into one list
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_provisioned_hosts: "{{ __sap_vm_provision_fact_provisioned_hosts + [__merged_results] }}"
  # Append keys to provisioning result, that are not part of default return dictionary.
  vars:
    __merged_results:
      "{{ __sap_vm_provision_register_provision_host_single
        | combine({'host_node': inventory_hostname},
        {'sap_host_type': __sap_vm_provision_host_dict_spec.sap_host_type},
        {'sap_system_type': (__sap_vm_provision_host_dict_spec.sap_system_type | d(''))}) }}"
