# SPDX-License-Identifier: Apache-2.0
---

# (SUSE specific) Requirement for fence agent: stonith:external/ec2
# All instances in cluster need to be tagged with tag configured in agent
# sap_ha_pacemaker_cluster role configures default tag name 'pacemaker' with value of 'inventory_hostname_short'
# https://documentation.suse.com/sbp/sap-15/html/SLES4SAP-hana-sr-guide-perfopt-15-aws/index.html#id-tagging-the-ec2-instances
# https://docs.aws.amazon.com/sap/latest/sap-hana/sap-hana-on-aws-stonith-device.html
- name: SAP VM Provision - AWS - Ensure pacemaker tag is present for SUSE
  amazon.aws.ec2_tag:
    resource: "{{ hostvars[host_node].ansible_facts['board_asset_tag'] }}"
    state: present
    tags:
      pacemaker: "{{ inventory_hostname_short }}"
    access_key: "{{ sap_vm_provision_aws_access_key }}"
    secret_key: "{{ sap_vm_provision_aws_secret_access_key }}"
  loop:
    "{{
      (groups[sap_vm_provision_group_hana_primary] + groups[sap_vm_provision_group_hana_secondary]
      if __sap_vm_provision_fact_is_ha_hana else [])
      + (groups[sap_vm_provision_group_anydb_primary] + groups[sap_vm_provision_group_anydb_secondary]
        if __sap_vm_provision_fact_is_ha_anydb else [])
      + (groups[sap_vm_provision_group_nwas_ascs] + groups[sap_vm_provision_group_nwas_ers]
        if __sap_vm_provision_fact_is_ha_nwas_ers else [])
    }}"
  loop_control:
    loop_var: host_node
  no_log: "{{ __sap_vm_provision_no_log }}"
  when: ansible_facts['os_family'] == 'Suse'


- name: SAP VM Provision - AWS - Gather information about AWS account
  amazon.aws.aws_caller_info:
    access_key: "{{ sap_vm_provision_aws_access_key }}"
    secret_key: "{{ sap_vm_provision_aws_secret_access_key }}"
  register: __sap_vm_provision_register_aws_account_info
  no_log: "{{ __sap_vm_provision_no_log }}"

- name: SAP VM Provision - AWS - Gather information about AWS VPC Route Table for the VPC Subnet
  amazon.aws.ec2_vpc_route_table_info:
    filters:
      association.subnet-id: "{{ sap_vm_provision_aws_vpc_subnet_id }}"
    access_key: "{{ sap_vm_provision_aws_access_key }}"
    secret_key: "{{ sap_vm_provision_aws_secret_access_key }}"
  register: __sap_vm_provision_register_aws_vpc_subnet_rt_info
  no_log: "{{ __sap_vm_provision_no_log }}"


# Setup custom IAM Role name using sap_vm_provision_aws_ha_iam_role
- name: SAP VM Provision - AWS - IAM Role - Prepare IAM Role name
  ansible.builtin.set_fact:
    __sap_vm_provision_aws_ha_iam_role:
      "{{ sap_vm_provision_aws_ha_iam_role
       if sap_vm_provision_aws_ha_iam_role | d('') | length > 0
       else 'HA-Role-Pacemaker' }}"

- name: SAP VM Provision - AWS - IAM Role - Prepare IAM Instance Profile name
  ansible.builtin.set_fact:
    __sap_vm_provision_aws_ha_iam_instance_profile:
      "{{ sap_vm_provision_aws_ha_iam_instance_profile
       if sap_vm_provision_aws_ha_iam_instance_profile | d('') | length > 0
       else 'HA-Instance-Profile-Pacemaker-Cluster' }}"

# Following IAM Roles, Policies and Instance Profiles are created based on:
# https://documentation.suse.com/sbp/sap-15/html/SLES4SAP-hana-sr-guide-perfopt-15-aws/index.html#id-aws-roles-and-policies
# https://docs.aws.amazon.com/sap/latest/sap-netweaver/sles-netweaver-ha-settings.html#stonith
# https://access.redhat.com/articles/4175371#create-policies
# https://docs.aws.amazon.com/sap/latest/sap-netweaver/rhel-netweaver-ha-settings.html#stonith
# https://docs.aws.amazon.com/sap/latest/sap-hana/sap-hana-on-aws-cluster-configuration-prerequisites.html#sap-hana-on-aws-create-the-stonith-policy

- name: SAP VM Provision - AWS - IAM Role - {{ __sap_vm_provision_aws_ha_iam_role }}
  amazon.aws.iam_role:
    name: "{{ __sap_vm_provision_aws_ha_iam_role }}"
    assume_role_policy_document: |
      {
          "Version": "2012-10-17",
          "Statement": [
              {
                  "Effect": "Allow",
                  "Action": "sts:AssumeRole",
                  "Sid": "",
                  "Principal": {
                      "Service": "ec2.amazonaws.com"
                  }
              }
          ]
      }
    access_key: "{{ sap_vm_provision_aws_access_key }}"
    secret_key: "{{ sap_vm_provision_aws_secret_access_key }}"
  register: __sap_vm_provision_register_aws_iam_role_ha_pacemaker
  no_log: "{{ __sap_vm_provision_no_log }}"

# AWS HA for SAP - DataProvider
- name: SAP VM Provision - AWS - IAM Policy - HA-Policy-DataProvider
  amazon.aws.iam_policy:
    state: present
    iam_type: role
    iam_name: "{{ __sap_vm_provision_aws_ha_iam_role }}"
    policy_name: "HA-Policy-DataProvider"
    policy_json: |
      {
          "Version": "2012-10-17",
          "Statement": [
              {
                  "Effect": "Allow",
                  "Action": [
                      "EC2:DescribeInstances",
                      "EC2:DescribeVolumes"
                  ],
                  "Resource": "*"
              },
              {
                  "Effect": "Allow",
                  "Action": "cloudwatch:GetMetricStatistics",
                  "Resource": "*"
              },
              {
                  "Effect": "Allow",
                  "Action": "s3:GetObject",
                  "Resource": "arn:aws:s3:::aws-sap-data-provider/config.properties"
              }
          ]
      }
    access_key: "{{ sap_vm_provision_aws_access_key }}"
    secret_key: "{{ sap_vm_provision_aws_secret_access_key }}"
  register: __sap_vm_provision_register_aws_iam_policy_dataprovider
  no_log: "{{ __sap_vm_provision_no_log }}"

# AWS HA for SAP - OverlayVirtualIPAgent
- name: SAP VM Provision - AWS - IAM Policy - HA-Policy-OverlayVirtualIPAgent
  amazon.aws.iam_policy:
    state: present
    iam_type: role
    iam_name: "{{ __sap_vm_provision_aws_ha_iam_role }}"
    policy_name: "HA-Policy-OverlayVirtualIPAgent"
    policy_json: |
      {
          "Version": "2012-10-17",
          "Statement": [
              {
                  "Sid": "Stmt1424870324000",
                  "Effect": "Allow",
                  "Action":  "ec2:DescribeRouteTables",
                  "Resource": "*"
              },
              {
                  "Sid": "Stmt1424860166260",
                  "Action": [
                      "ec2:CreateRoute",
                      "ec2:ReplaceRoute"
                  ],
                  "Effect": "Allow",
                  "Resource": "arn:aws:ec2:{{ sap_vm_provision_aws_region }}:{{ __sap_vm_provision_register_aws_account_info.account }}:route-table/{{
                    __sap_vm_provision_register_aws_vpc_subnet_rt_info.route_tables[0].route_table_id }}"
              }
          ]
      }
    access_key: "{{ sap_vm_provision_aws_access_key }}"
    secret_key: "{{ sap_vm_provision_aws_secret_access_key }}"
  register: __sap_vm_provision_register_aws_iam_policy_overlayip
  no_log: "{{ __sap_vm_provision_no_log }}"


# Equivalent to
# aws iam create-instance-profile --instance-profile-name "HA-Instance-Profile-Pacemaker-Cluster"
# aws iam add-role-to-instance-profile --role-name "HA-Role-Pacemaker" --instance-profile-name "HA-Instance-Profile-Pacemaker-Cluster"
- name: SAP VM Provision - AWS - Create IAM Instance Profile and attach AWS IAM Role - "HA-Instance-Profile-Pacemaker-Cluster"
  amazon.aws.iam_instance_profile:
    state: present
    name: "{{ __sap_vm_provision_aws_ha_iam_instance_profile }}"
    role: "{{ __sap_vm_provision_aws_ha_iam_role }}"
    path: "/"
    access_key: "{{ sap_vm_provision_aws_access_key }}"
    secret_key: "{{ sap_vm_provision_aws_secret_access_key }}"
  register: __sap_vm_provision_register_aws_iam_attach_role
  no_log: "{{ __sap_vm_provision_no_log }}"


- name: SAP VM Provision - AWS - SAP HANA
  ansible.builtin.include_tasks:
    file: execute_setup_ha_hana.yml
  when: __sap_vm_provision_fact_is_ha_hana

- name: SAP VM Provision - AWS - SAP AnyDB
  ansible.builtin.include_tasks:
    file: execute_setup_ha_anydb.yml
  when: __sap_vm_provision_fact_is_ha_anydb

- name: SAP VM Provision - AWS - SAP ASCS/ERS
  ansible.builtin.include_tasks:
    file: execute_setup_ha_ascs_ers.yml
  when: __sap_vm_provision_fact_is_ha_nwas_ers
