# SPDX-License-Identifier: Apache-2.0
---

# When SAP HANA Scale-Out is used, if host name is not in original specifications then strip suffix node number from host name
- name: SAP VM Provision - IBM Cloud PowerVS - Set host spec for SAP HANA Scale-Out
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_scaleout_origin_hostname: "{{ inventory_hostname | regex_replace('^(.+?)\\d*$', '\\1') }}"
  when:
    - sap_vm_provision_calculate_sap_hana_scaleout_active_coordinator is defined
    - not inventory_hostname in __sap_vm_provision_host_dict_plan.keys()


# Create flat list with names for each volume to be created.
# Create flat list with disk tiers.
- name: SAP VM Provision - IBM Cloud PowerVS - Set fact for target device map
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_filesystem_volume_map: |
      {% set disks_map = [] -%}
      {% for storage_item in __sap_vm_provision_host_dict_spec.storage_definition -%}
        {% for idx in range(0, storage_item.disk_count | d(1)) -%}
          {% if (storage_item.filesystem_type is defined) -%}
            {% if ('swap' in storage_item.filesystem_type and storage_item.swap_path is not defined)
            or ('swap' not in storage_item.filesystem_type and storage_item.nfs_path is not defined) -%}
              {% set vol = disks_map.extend([
              {
                'definition_key': storage_item.name,
                'name': storage_item.name + idx|string,
                'size': storage_item.disk_size | d(0),
                'type': storage_item.disk_type | d('tier3')
              }
              ]) %}
            {%- endif %}
          {%- endif %}
        {%- endfor %}
      {%- endfor %}
      {{ disks_map }}

    __sap_vm_provision_fact_storage_type_tier:
      "{{ __sap_vm_provision_host_dict_spec.storage_definition
        | selectattr('disk_type', 'defined') | map(attribute='disk_type') | select() | list | unique }}"

- name: SAP VM Provision - IBM Cloud PowerVS - Confirm IBM Power Virtual Server Storage Type Tier
  ansible.builtin.fail:
    msg:
      IBM Power Virtual Servers require a static configuration for the Storage Type Tier,
      and all attached Block Storage Volumes must use this Storage Type Tier.
      Edit the Storage Definition variable to use the same Storage Type Tier for each Block Storage Volume.
  when: __sap_vm_provision_fact_storage_type_tier | length > 1


# Status will change from Building > Warning (VM = Active, Health = Warning) > Active.
# The Ansible Task will continue once the Active status has been reached.
- name: SAP VM Provision - IBM Cloud PowerVS - Provision IBM Power Virtual Server instance on IBM Cloud
  ibm.cloudcollection.ibm_pi_instance:
    pi_cloud_instance_id: "{{ __sap_vm_provision_register_ibmcloud_pi_workspace_service_instance.resource.guid }}" # must be GUID, not CRN

    pi_instance_name: "{{ inventory_hostname }}"
    pi_image_id: "{{ __sap_vm_provision_register_ibmcloud_pi_os_image_existing.resource.id }}"

    pi_sys_type: "{{ __sap_vm_provision_host_dict_spec.ibmcloud_powervs_hardware_machine_type }}"

    pi_sap_profile_id: "{{ __sap_vm_provision_host_dict_spec.virtual_machine_profile }}"

    pi_key_pair_name: "{{ sap_vm_provision_ibmcloud_powervs_key_pair_name_ssh_host_public_key }}"

    pi_network:
      - network_id: "{{ __sap_vm_provision_register_ibmcloud_pi_subnet.resource.id }}"

    # Storage Type Tier is a static configuration for the Virtual Server, it cannot be amended
    # All Block Storage Volumes attached to the Virtual Server, must use the set Storage Type Tier:
    #   tier0 (25 IOPS/GB), tier1 (10 IOPS/GB), tier3 (3 IOPS/GB), tier5k (Fixed 5000 IOPS)
    pi_storage_type: "{{ __sap_vm_provision_fact_storage_type_tier | first }}"
    pi_storage_pool_affinity: true
    # pi_volume_ids: []

    pi_pin_policy: none
    pi_health_status: OK

    pi_placement_group_id: "{{ __placement_group }}"

    ibmcloud_api_key: "{{ sap_vm_provision_ibmcloud_api_key }}"
  register: __sap_vm_provision_register_provision_host_single
  no_log: "{{ __sap_vm_provision_no_log }}"
  vars:
    __placement_group: "{{ (
      (__sap_vm_provision_register_ibmcloud_placement_groups_list.resource.placement_groups | selectattr('name','search','hana'))[0].id
      if (sap_vm_provision_group_hana_primary in __sap_vm_provision_host_dict_spec.sap_host_type
        or sap_vm_provision_group_hana_secondary in __sap_vm_provision_host_dict_spec.sap_host_type)
        and not __sap_vm_provision_register_ibmcloud_placement_groups_list.skipped | d(false)
      else
      (__sap_vm_provision_register_ibmcloud_placement_groups_list.resource.placement_groups | selectattr('name','search','anydb'))[0].id
      if (sap_vm_provision_group_anydb_primary in __sap_vm_provision_host_dict_spec.sap_host_type
        or sap_vm_provision_group_anydb_secondary in __sap_vm_provision_host_dict_spec.sap_host_type)
        and not __sap_vm_provision_register_ibmcloud_placement_groups_list.skipped | d(false)
      else
      (__sap_vm_provision_register_ibmcloud_placement_groups_list.resource.placement_groups | selectattr('name','search','nwas'))[0].id
      if (sap_vm_provision_group_nwas_ascs in __sap_vm_provision_host_dict_spec.sap_host_type
        or sap_vm_provision_group_nwas_ers in __sap_vm_provision_host_dict_spec.sap_host_type)
        and not __sap_vm_provision_register_ibmcloud_placement_groups_list.skipped | d(false)
      ) | d(omit) }}"


# Use check to avoid idempotency issues with legacy ibm.cloudcollection Ansible Collection
# (until ibm.cloud Ansible Collection is out of beta)
- name: SAP VM Provision - IBM Cloud PowerVS - Check IBM Power Virtual Server instance on IBM Cloud
  ibm.cloudcollection.ibm_pi_instance_info:
    pi_cloud_instance_id: "{{ __sap_vm_provision_register_ibmcloud_pi_workspace_service_instance.resource.guid }}" # must be GUID, not CRN
    pi_instance_name: "{{ inventory_hostname }}"
    ibmcloud_api_key: "{{ sap_vm_provision_ibmcloud_api_key }}"
  register: __sap_vm_provision_register_provision_host_single_info
  no_log: "{{ __sap_vm_provision_no_log }}"


- name: SAP VM Provision - IBM Cloud PowerVS - Provision IBM Power Infrastructure Block Storage volumes for IBM Power VS instance filesystems
  ibm.cloudcollection.ibm_pi_volume:
    pi_cloud_instance_id: "{{ __sap_vm_provision_register_ibmcloud_pi_workspace_service_instance.resource.guid }}" # must be GUID, not CRN
    pi_volume_name: "{{ inventory_hostname + '-vol-' + vol_item.name | replace('_', '-') }}"
    pi_volume_type: "{{ vol_item.type }}"
    pi_volume_size: "{{ vol_item.size }}"
    pi_volume_shareable: false
    pi_replication_enabled: false
    # delete_on_termination: true
    ibmcloud_api_key: "{{ sap_vm_provision_ibmcloud_api_key }}"
  loop: "{{ __sap_vm_provision_fact_filesystem_volume_map }}"
  loop_control:
    loop_var: vol_item
    index_var: vol_item_index
    label: "{{ vol_item.definition_key }}: {{ vol_item.name }} (size: {{ vol_item.size }})"
  register: __sap_vm_provision_register_provision_host_single_volumes
  no_log: "{{ __sap_vm_provision_no_log }}"
  when:
    - vol_item.size > 0
  failed_when:
    - not __sap_vm_provision_register_provision_host_single_volumes.rc == 0
    - not 'already exists' in __sap_vm_provision_register_provision_host_single_volumes.stderr

# Use check to avoid idempotency issues with legacy ibm.cloudcollection Ansible Collection (until ibm.cloud Ansible Collection is out of beta)
- name: SAP VM Provision - IBM Cloud PowerVS - Check status of IBM Power Infrastructure Block Storage volumes
  ibm.cloudcollection.ibm_pi_volume_info:
    pi_cloud_instance_id: "{{ __sap_vm_provision_register_ibmcloud_pi_workspace_service_instance.resource.guid }}" # must be GUID, not CRN
    pi_volume_name: "{{ inventory_hostname + '-vol-' + vol_item.name | replace('_', '-') }}"
    ibmcloud_api_key: "{{ sap_vm_provision_ibmcloud_api_key }}"
  loop: "{{ __sap_vm_provision_fact_filesystem_volume_map }}"
  loop_control:
    loop_var: vol_item
    index_var: vol_item_index
    label: "{{ inventory_hostname + '-vol-' + vol_item.name | replace('_', '-') }}"
  retries: 5
  until: __sap_vm_provision_register_provision_host_single_volumes_info.rc == 0
    and (__sap_vm_provision_register_provision_host_single_volumes_info.resource is defined
      and __sap_vm_provision_register_provision_host_single_volumes_info.resource.state == "available", "in-use")
  delay: 20
  register: __sap_vm_provision_register_provision_host_single_volumes_info
  no_log: "{{ __sap_vm_provision_no_log }}"
  when:
    - vol_item.size > 0


- name: SAP VM Provision - IBM Cloud PowerVS - Attach IBM Power Infrastructure Block Storage volumes as filesystem for IBM Power VS instance
  ibm.cloudcollection.ibm_pi_volume_attach:
    pi_cloud_instance_id: "{{ __sap_vm_provision_register_ibmcloud_pi_workspace_service_instance.resource.guid }}" # must be GUID, not CRN
    pi_volume_id: "{{ vol_item.resource.id }}"
    pi_instance_id: "{{ __sap_vm_provision_register_provision_host_single.resource.id }}"
    ibmcloud_api_key: "{{ sap_vm_provision_ibmcloud_api_key }}"
  loop: "{{ __sap_vm_provision_register_provision_host_single_volumes_info.results }}"
  loop_control:
    loop_var: vol_item
    index_var: vol_item_index
    label: "{{ vol_item.resource.pi_volume_name }}"
  retries: 1
  until: __sap_vm_provision_register_provision_host_single_volume_attachments is success
  delay: 10
  register: __sap_vm_provision_register_provision_host_single_volume_attachments
  no_log: "{{ __sap_vm_provision_no_log }}"
  failed_when:
    - not __sap_vm_provision_register_provision_host_single_volume_attachments.rc == 0
    # when already attached message
    - not 'volume cannot be attached in the current state' in __sap_vm_provision_register_provision_host_single_volume_attachments.stderr


- name: SAP VM Provision - IBM Cloud PowerVS - Read IBM Power Virtual Server information
  ibm.cloudcollection.ibm_pi_instance_info:
    pi_cloud_instance_id: "{{ __sap_vm_provision_register_ibmcloud_pi_workspace_service_instance.resource.guid }}" # must be GUID, not CRN
    pi_instance_name: "{{ __sap_vm_provision_register_provision_host_single.resource.pi_instance_name }}"
    ibmcloud_api_key: "{{ sap_vm_provision_ibmcloud_api_key }}"
  register: __sap_vm_provision_register_provision_host_single_info
  no_log: "{{ __sap_vm_provision_no_log }}"

- name: SAP VM Provision - IBM Cloud PowerVS - Add host facts
  ansible.builtin.set_fact:
    __sap_vm_provision_register_provision_host_single_volumes:
      "{{ __sap_vm_provision_register_provision_host_single_volumes_info }}"
    __sap_vm_provision_register_provision_host_single_info:
      "{{ __sap_vm_provision_register_provision_host_single_info }}"
  delegate_to: "{{ inventory_hostname }}"
  delegate_facts: true


- name: SAP VM Provision - IBM Cloud PowerVS - Create fact for delegate host IP
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_private_ip: "{{ __sap_vm_provision_register_provision_host_single.resource.networks[0].ip }}"


- name: SAP VM Provision - IBM Cloud PowerVS - Copy facts to delegate host - when using Bastion SSH Proxy connection from Ansible control node to target node/s
  delegate_to: "{{ __sap_vm_provision_fact_private_ip }}"
  delegate_facts: true
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_ssh_args_bastion: >-
      -o ProxyCommand='ssh -W %h:%p {{ sap_vm_provision_bastion_user }}@{{ sap_vm_provision_bastion_public_ip }}
      -p {{ sap_vm_provision_bastion_ssh_port }}
      -i {{ sap_vm_provision_ssh_bastion_private_key_file_path }}
      {{ sap_vm_provision_ssh_bastion_ssh_args }}'
  when:
    - sap_vm_provision_bastion_execution
    - sap_vm_provision_bastion_user | d('') != ''
    - sap_vm_provision_bastion_public_ip | d('') != ''
    - sap_vm_provision_bastion_ssh_port | d('') != ''
    - sap_vm_provision_ssh_bastion_private_key_file_path | d('') != ''


### begin block, parameters will be applied to each task within the block
- name: Allow login from root OS User
  remote_user: root
  become: true
  become_user: root
  delegate_to: "{{ __sap_vm_provision_fact_private_ip }}"
  delegate_facts: true
  vars:
    ansible_ssh_private_key_file: "{{ sap_vm_provision_ssh_host_private_key_file_path }}"
    ansible_ssh_common_args: "{{ sap_vm_provision_ssh_host_ssh_args }} {{ __sap_vm_provision_fact_ssh_args_bastion | d('') }}"
  block:

    - name: SAP VM Provision - IBM Cloud PowerVS - Create .ssh directory for root user
      ansible.builtin.file:
        path: /root/.ssh
        state: directory
        mode: '0744'

    - name: SAP VM Provision - IBM Cloud PowerVS - Create root authorized_keys file and entries
      ansible.builtin.copy:
        dest: /root/.ssh/authorized_keys
        mode: '0600'
        content: |
          {{ __sap_vm_provision_register_ibmcloud_pi_ssh_public_key.resource.ssh_key }}

    # We cannot obtain these facts from delegate without registering them first.
    # NOTE: Ansible 2.20 deprecation warning for ansible_facts does not seem to apply here.
    - name: SAP VM Provision - IBM Cloud PowerVS - Get OS distribution facts on delegate host
      ansible.builtin.setup:
        gather_subset:
          - 'distribution_major_version'
          - 'os_family'
      register: __sap_vm_provision_register_gather_subset

    - name: SAP VM Provision - IBM Cloud PowerVS - Permit root login
      ansible.builtin.replace:
        path: "{{ __sap_vm_provision_ssh_config_path }}"
        regexp: '(^PermitRootLogin no)'
        replace: 'PermitRootLogin yes'
      register: __sap_vm_provision_register_update_sshd_config
      vars:
        # Path to SSH config, which is different starting with SLES 16.
        __sap_vm_provision_ssh_config_path: >-
          {{ '/usr/etc/ssh/sshd_config'
              if __sap_vm_provision_register_gather_subset.ansible_facts['ansible_os_family'] == 'Suse' and
              (__sap_vm_provision_register_gather_subset.ansible_facts['ansible_distribution_major_version'] | int) >= 16
              else '/etc/ssh/sshd_config' }}

    # Reason for noqa: Handlers are executed at end of role, but this must be done now.
    - name: SAP VM Provision - IBM Cloud PowerVS - Reload sshd service  # noqa no-handler
      ansible.builtin.service:
        name: sshd
        state: reloaded
      when: __sap_vm_provision_register_update_sshd_config.changed


- name: SAP VM Provision - IBM Cloud PowerVS - Combine details of provisioned hosts into one list
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_provisioned_hosts: "{{ __sap_vm_provision_fact_provisioned_hosts + [__merged_results] }}"
  # Append keys to provisioning result, that are not part of default return dictionary.
  vars:
    __merged_results:
      "{{ __sap_vm_provision_register_provision_host_single
        | combine({'host_node': inventory_hostname},
        {'sap_host_type': __sap_vm_provision_host_dict_spec.sap_host_type},
        {'sap_system_type': (__sap_vm_provision_host_dict_spec.sap_system_type | d(''))}) }}"
