# SPDX-License-Identifier: Apache-2.0
---

# When SAP HANA Scale-Out is used, if host name is not in original specifications then strip suffix node number from host name
- name: SAP VM Provision - GCP - Set host spec for SAP HANA Scale-Out
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_scaleout_origin_hostname: "{{ inventory_hostname | regex_replace('^(.+?)\\d*$', '\\1') }}"
  when:
    - sap_vm_provision_calculate_sap_hana_scaleout_active_coordinator is defined
    - not inventory_hostname in __sap_vm_provision_host_dict_plan.keys()


# Create flat list with names for each volume to be created.
- name: SAP VM Provision - GCP - Set fact for target device map
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_filesystem_volume_map: |
      {% set disks_map = [] -%}
      {% for storage_item in __sap_vm_provision_host_dict_spec.storage_definition -%}
        {% for idx in range(0, storage_item.disk_count | d(1)) -%}
          {% if (storage_item.filesystem_type is defined) -%}
            {% if ('swap' in storage_item.filesystem_type and storage_item.swap_path is not defined)
            or ('swap' not in storage_item.filesystem_type and storage_item.nfs_path is not defined) -%}
              {% set vol = disks_map.extend([
              {
                'definition_key': storage_item.name,
                'name': storage_item.name + idx|string,
                'size': storage_item.disk_size | d(0),
                'type': storage_item.disk_type | d('pd-balanced'),
                'iops': storage_item.disk_iops | d(omit)
              }
              ]) %}
            {%- endif %}
          {%- endif %}
        {%- endfor %}
      {%- endfor %}
      {{ disks_map }}


### LIMITATION - Must provision disks first and attach to VM. It is not possible to provision disks after the VM is provisioned.
# See https://github.com/ansible-collections/google.cloud/issues/193
# The volume creation task requires the above task to define the parameter
# which contains the calculated unique device names.
- name: SAP VM Provision - GCP - Provision Google Cloud Persistent Disk volumes for Google Cloud VM filesystems
  google.cloud.gcp_compute_disk:
    state: present
    project: "{{ sap_vm_provision_gcp_project }}"
    zone: "{{ sap_vm_provision_gcp_region_zone }}"
    name: "{{ inventory_hostname + '-vol-' + vol_item.name | replace('_', '-') }}"
    size_gb: "{{ vol_item.size }}"
    type: "{{ vol_item.type }}"
    provisioned_iops: "{{ vol_item.iops | d(omit) }}"
    auth_kind: "serviceaccount"
    service_account_file: "{{ sap_vm_provision_gcp_credentials_json }}"
  loop: "{{ __sap_vm_provision_fact_filesystem_volume_map }}"
  loop_control:
    loop_var: vol_item
    index_var: vol_item_index
    label: "{{ vol_item.definition_key }}: {{ vol_item.name }} (size: {{ vol_item.size }})"
  register: __sap_vm_provision_register_provision_host_single_volumes
  no_log: "{{ __sap_vm_provision_no_log }}"
  when:
    - vol_item.size > 0
  # failed_when: "(__sap_vm_provision_register_provision_host_single_volumes.msg is defined)
  #   and ('already exists' not in __sap_vm_provision_register_provision_host_single_volumes.msg)"


# Create list of disks to attach to GCP VM
- name: SAP VM Provision - GCP - Set fact for target device map
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_provisioned_disks_map: |
      {% set disks_map = [
        {
          'auto_delete': 'true',
          'boot': 'true',
          'interface': 'SCSI',
          'initialize_params': {
            'disk_type': 'pd-standard',
            'source_image': __sap_vm_provision_register_gcp_os_image_info.resources[0].selfLink
          }
        }
      ] -%}
      {% for storage_item in __sap_vm_provision_register_provision_host_single_volumes.results -%}
        {% set vol = disks_map.extend([
        {
          'auto_delete': 'true',
          'boot': 'false',
          'interface': 'SCSI',
          'source': {
            'selfLink': storage_item.selfLink
          }
        }
        ]) %}
      {%- endfor %}
      {{ disks_map }}


- name: SAP VM Provision - GCP - Provision Google Cloud VM
  google.cloud.gcp_compute_instance:
    state: present
    project: "{{ sap_vm_provision_gcp_project }}"
    zone: "{{ sap_vm_provision_gcp_region_zone }}"
    name: "{{ inventory_hostname }}"
    machine_type: "{{ __sap_vm_provision_host_dict_spec.virtual_machine_profile }}"
    # When disable the Anti IP Spoofing = true, then Can IP Forward = true
    can_ip_forward: "{{ __sap_vm_provision_host_dict_spec.disable_ip_anti_spoofing }}"
    network_interfaces:
      - network:
          selfLink: "{{ __sap_vm_provision_register_gcp_vpc_info.resources[0].selfLink }}"
        subnetwork:
          selfLink: "{{ __sap_vm_provision_register_gcp_vpc_subnet_info.resources[0].selfLink }}"
    # 'NVME interface is only supported for confidential VMs or the following VM families:
    # [a3-vm, c1-metal, c2-metal, c3-metal, c3-vm, c3d-vm, ct5p-vm, g2-vm, h3-vm, m3-vm, t2a-vm]
    disks: "{{ __sap_vm_provision_fact_provisioned_disks_map }}"
    metadata:
      enable-oslogin: false # Do not use GCP Project OS Login approach for SSH Keys
      block-project-ssh-keys: true # Do not use GCP Project Metadata approach for SSH Keys
      # # Uses the GCP VM Instance Metadata approach for SSH Keys. Shows in GCP Console GUI under 'SSH Keys' for the VM Instance.
      # Can not use 'root' because SSH 'PermitRootLogin' by default is 'no'.
      ssh-keys: "admin:{{ lookup('ansible.builtin.file', sap_vm_provision_ssh_host_public_key_file_path) }}"
    # # List of service accounts authorized for Google Cloud VM (allow access via Instance Metadata service to
    # computeMetadata/v1/instance/service-accounts etc for fence_gce Fencing Agent)
    service_accounts:
      # # Empty string for service account name, will default to the "Compute Engine Default Service Account"
      # for the GCP Project (e.g. xx-compute@developer.gserviceaccount.com)
      - email: ""
        scopes:
          - "https://www.googleapis.com/auth/cloud-platform" # Allow full access to all Cloud APIs
          # ["compute-rw", "storage-rw", "logging-write", "monitoring-write", "service-control", "service-management"]
    auth_kind: "serviceaccount"
    service_account_file: "{{ sap_vm_provision_gcp_credentials_json }}"
  register: __sap_vm_provision_register_provision_host_single
  no_log: "{{ __sap_vm_provision_no_log }}"

- name: SAP VM Provision - GCP - Read Google Cloud VM information
  google.cloud.gcp_compute_instance_info:
    project: "{{ sap_vm_provision_gcp_project }}"
    zone: "{{ sap_vm_provision_gcp_region_zone }}"
    filters:
      - name = {{ inventory_hostname }}
    auth_kind: "serviceaccount"
    service_account_file: "{{ sap_vm_provision_gcp_credentials_json }}"
  register: __sap_vm_provision_register_provision_host_single_info
  no_log: "{{ __sap_vm_provision_no_log }}"

- name: SAP VM Provision - GCP - Create fact for delegate host IP
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_private_ip: "{{ __sap_vm_provision_register_provision_host_single.networkInterfaces[0].networkIP }}"

- name: SAP VM Provision - GCP - Copy facts to delegate host - when using Bastion SSH Proxy connection from Ansible control node to target node/s
  delegate_to: "{{ __sap_vm_provision_fact_private_ip }}"
  delegate_facts: true
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_ssh_args_bastion: >-
      -o ProxyCommand='ssh -W %h:%p {{ sap_vm_provision_bastion_user }}@{{ sap_vm_provision_bastion_public_ip }}
      -p {{ sap_vm_provision_bastion_ssh_port }}
      -i {{ sap_vm_provision_ssh_bastion_private_key_file_path }}
      {{ sap_vm_provision_ssh_bastion_ssh_args }}'
  when:
    - sap_vm_provision_bastion_execution
    - sap_vm_provision_bastion_user | d('') != ''
    - sap_vm_provision_bastion_public_ip | d('') != ''
    - sap_vm_provision_bastion_ssh_port | d('') != ''
    - sap_vm_provision_ssh_bastion_private_key_file_path | d('') != ''


- name: SAP VM Provision - GCP - Wait for SSH port on provisioned host to become available
  # This task runs a native ssh command from the execution host to check for connectivity before proceeding.
  # It uses a retry loop and conditionally adds a ProxyCommand for bastion scenarios.
  # Other modules and solutions are not suitable for this purpose, because:
  # - 'wait_for' does not support ProxyCommand.
  # - 'wait_for_connection' requires Python on the target, which may not be installed yet.
  ansible.builtin.command:
    cmd: >
      ssh
      {{ __sap_vm_provision_fact_ssh_args_bastion if sap_vm_provision_bastion_execution | d(true) else '' }}
      -o ConnectTimeout=10 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
      -i {{ sap_vm_provision_ssh_host_private_key_file_path }}
      admin@{{ __sap_vm_provision_fact_private_ip }} "exit"
  vars:
    __sap_vm_provision_fact_ssh_args_bastion: >-
      -o ProxyCommand='ssh -W %h:%p {{ sap_vm_provision_bastion_user }}@{{ sap_vm_provision_bastion_public_ip }}
      -p {{ sap_vm_provision_bastion_ssh_port }}
      -i {{ sap_vm_provision_ssh_bastion_private_key_file_path }}
      {{ sap_vm_provision_ssh_bastion_ssh_args }}'
  register: __sap_vm_provision_register_ssh_port_check
  until: __sap_vm_provision_register_ssh_port_check.rc == 0
  retries: 30
  delay: 10
  changed_when: false


### begin block, parameters will be applied to each task within the block
- name: Allow login from root OS User
  remote_user: admin
  become: true
  become_user: root
  delegate_to: "{{ __sap_vm_provision_fact_private_ip }}"
  delegate_facts: true
  vars:
    ansible_ssh_private_key_file: "{{ sap_vm_provision_ssh_host_private_key_file_path }}"
    ansible_ssh_common_args: "{{ sap_vm_provision_ssh_host_ssh_args }} {{ __sap_vm_provision_fact_ssh_args_bastion | d('') }}"
  block:

    # SUSE Specific workaround to install Python 3.11 on SLES 15 images that do not have it pre-installed.
    # This is required for Ansible modules to work. Using raw module as python is not yet available.
    # PAYG images do not have it pre-installed, BYOS images do have it pre-installed.
    - name: SAP VM Provision - GCP - Check if provisioned host is SLES 15 SP5-SP7 without Python 3.11 installed
      ansible.builtin.raw: >-
        grep -q 'ID="sles"' /etc/os-release &&
        grep -qE 'VERSION_ID="15\.[5-7]"' /etc/os-release &&
        ! rpm -q python311
      register: __sap_vm_provision_register_sles15_python311_check
      changed_when: false
      failed_when: false

    - name: SAP VM Provision - GCP - Inform that SLES 15 SP5-SP7 without Python 3.11 installed was detected
      ansible.builtin.debug:
        msg: |
          INFO: Provisioned host is SLES 15 SP5-7 without Python 3.11 installed.
          Some Google Cloud images do not have Python 3.11 pre-installed which is required for Ansible modules to work.
          Proceeding to install Python 3.11...
      when:
        - __sap_vm_provision_register_sles15_python311_check.rc == 0

    - name: SAP VM Provision - GCP - Install required Python 3.11 on SLES 15 SP5-SP7 host
      ansible.builtin.raw: "zypper -n install python311"
      register: __sap_vm_provision_register_sles15_python311_install
      # Retry loop in case package manager is locked after provisioning.
      retries: 30
      delay: 10
      changed_when:
        - __sap_vm_provision_register_sles15_python311_install.rc == 0
        - "'nothing to do' not in __sap_vm_provision_register_sles15_python311_install.stdout"
      when:
        - __sap_vm_provision_register_sles15_python311_check.rc == 0

    # Required as state: present on Ansible Module gcp_compute_instance does not allow for waiting until VM has booted
    # wait_for_connection is used instead to ensure connection is available before proceeding.
    - name: SAP VM Provision - GCP - Wait until SSH connection is available
      ansible.builtin.wait_for_connection:
        timeout: 300

    - name: SAP VM Provision - GCP - Create .ssh directory for root user
      ansible.builtin.file:
        path: /root/.ssh
        state: directory
        mode: '0744'

    - name: SAP VM Provision - GCP - Create root authorized_keys file and entries
      ansible.builtin.copy:
        dest: /root/.ssh/authorized_keys
        mode: '0600'
        content: |
          {{ lookup('ansible.builtin.file', sap_vm_provision_ssh_host_public_key_file_path) }}

    # We cannot obtain these facts from delegate without registering them first.
    # NOTE: Ansible 2.20 deprecation warning for ansible_facts does not seem to apply here.
    - name: SAP VM Provision - GCP - Get OS distribution facts on delegate host
      ansible.builtin.setup:
        gather_subset:
          - 'distribution_major_version'
          - 'os_family'
      register: __sap_vm_provision_register_gather_subset

    - name: SAP VM Provision - GCP - Permit root login
      ansible.builtin.replace:
        path: "{{ __sap_vm_provision_ssh_config_path }}"
        regexp: '(^PermitRootLogin no)'
        replace: 'PermitRootLogin yes'
      register: __sap_vm_provision_register_update_sshd_config
      vars:
        # Path to SSH config, which is different starting with SLES 16.
        __sap_vm_provision_ssh_config_path: >-
          {{ '/usr/etc/ssh/sshd_config'
              if __sap_vm_provision_register_gather_subset.ansible_facts['ansible_os_family'] == 'Suse' and
              (__sap_vm_provision_register_gather_subset.ansible_facts['ansible_distribution_major_version'] | int) >= 16
              else '/etc/ssh/sshd_config' }}

    - name: SAP VM Provision - GCP - Reload sshd service  # noqa no-handler
      ansible.builtin.service:
        name: sshd
        state: reloaded
      when: __sap_vm_provision_register_update_sshd_config.changed


- name: SAP VM Provision - GCP - Combine details of provisioned hosts into one list
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_provisioned_hosts: "{{ __sap_vm_provision_fact_provisioned_hosts + [__merged_results] }}"
  # Append keys to provisioning result, that are not part of default return dictionary.
  vars:
    __merged_results:
      "{{ __sap_vm_provision_register_provision_host_single
        | combine({'host_node': inventory_hostname},
        {'sap_host_type': __sap_vm_provision_host_dict_spec.sap_host_type},
        {'sap_system_type': (__sap_vm_provision_host_dict_spec.sap_system_type | d(''))}) }}"
