# SPDX-License-Identifier: Apache-2.0
---

# Google Cloud Load Balancing
# Internal passthrough Network Load Balancer (NLB for TCP/UDP) and Reserved Static Internal IP Address with host health check response using socat or HAProxy

# See Google Cloud Compute Engine Reserved Static Internal IP Address, https://cloud.google.com/compute/docs/ip-addresses/reserve-static-internal-ip-address
# See Google Cloud Load Balancing - Internal passthrough Network Load Balancer overview, https://cloud.google.com/load-balancing/docs/internal
# See SAP HANA guidance 1, https://cloud.google.com/solutions/sap/docs/sap-hana-ha-planning-guide#virtual_ip_address
# See SAP HANA guidance 2, https://cloud.google.com/solutions/sap/docs/sap-hana-ha-planning-guide#vip_implementation
# See SAP NetWeaver guidance, https://cloud.google.com/solutions/sap/docs/sap-hana-ha-planning-guide#virtual_ip_address

# Verify Health Check range is accessible
# Compute Engine health checks, 35.191.0.0/16 and 130.211.0.0/22 (domain 1e100.net)
# Manual verification with...
# tcpdump -i eth0 net 35.191.0.0/16 and dst port 55550/55551/55552
# tcpdump -i eth0 net 130.211.0.0/22 and dst port 55550/55551/55552

# Primary IP Address by default uses subnet netmask /32 CIDR
# Virtual IP Address also uses subnet netmask /32 CIDR, otherwise subnet traffic attempts to route through the Load Balancer Backend Service

- name: SAP VM Provision - GCP - Gather GCP VM information
  google.cloud.gcp_compute_instance_info:
    project: "{{ sap_vm_provision_gcp_project }}"
    zone: "{{ sap_vm_provision_gcp_region_zone }}"
    filters:
      - name = {{ host_node }}
    auth_kind: "serviceaccount"
    service_account_file: "{{ sap_vm_provision_gcp_credentials_json }}"
  loop: "{{ __sap_vm_provision_fact_merged_hosts_list }}"
  loop_control:
    loop_var: host_node
  register: __sap_vm_provision_register_provision_host_single_info
  no_log: "{{ __sap_vm_provision_no_log }}"

# Execution flow:
# 1. Create Private DNS Record
# 2. Reserve Static Internal IP (VIP)
# 3. Create Health Check
# 4. Create Primary Instance Group
# 5. Create Secondary Instance Group
# 6. Create Backend Service
# 7. Create Forwarding Rule

- name: SAP VM Provision - GCP - SAP HANA
  ansible.builtin.include_tasks:
    file: execute_setup_ha_hana.yml
  when: __sap_vm_provision_fact_is_ha_hana

- name: SAP VM Provision - GCP - SAP AnyDB
  ansible.builtin.include_tasks:
    file: execute_setup_ha_hana.yml
  when: __sap_vm_provision_fact_is_ha_hana

- name: SAP VM Provision - GCP - SAP ASCS/ERS
  ansible.builtin.include_tasks:
    file: execute_setup_ha_hana.yml
  when: __sap_vm_provision_fact_is_ha_hana
