# SPDX-License-Identifier: Apache-2.0
---

- name: Block for ASCS/ERS HA
  delegate_to: "{{ sap_vm_provision_execution_host }}"
  run_once: true
  environment:
    ANSIBLE_AZURE_AUTH_SOURCE: "auto" # Set to auto to use module parameters
  block:

    - name: SAP VM Provision - Azure - Ansible MS Azure Private DNS Records for SAP NetWeaver ASCS HA Virtual Hostname
      azure.azcollection.azure_rm_privatednsrecordset:
        # DNS may exist in separate Resource Group. Use empty string var
        # (or default false if undefined) to evaluate to false boolean, and use Python or logic operator
        resource_group: "{{ (sap_vm_provision_msazure_private_dns_resource_group_name | d(sap_vm_provision_msazure_resource_group_name)) }}"
        zone_name: "{{ hostvars[host_node].sap_vm_provision_dns_root_domain }}"
        relative_name: "{{ __sap_vm_provision_fact_ha_hostname_nwas_abap_ascs }}"
        record_type: A
        records:
          - entry: "{{ sap_vm_provision_ha_vip_nwas_abap_ascs | regex_replace('/.*', '') }}"
        subscription_id: "{{ sap_vm_provision_msazure_subscription_id }}"
        tenant: "{{ sap_vm_provision_msazure_tenant_id }}"
        client_id: "{{ sap_vm_provision_msazure_app_client_id }}"
        secret: "{{ sap_vm_provision_msazure_app_client_secret }}"
      loop: "{{ (groups[sap_vm_provision_group_nwas_ascs] | d([])) }}"
      loop_control:
        loop_var: host_node
      register: __sap_vm_provision_register_msazure_dns_vip_ascs
      no_log: "{{ __sap_vm_provision_no_log }}"

    - name: SAP VM Provision - Azure - Ansible MS Azure Private DNS Records for SAP NetWeaver ERS HA Virtual Hostname
      azure.azcollection.azure_rm_privatednsrecordset:
        # DNS may exist in separate Resource Group. Use empty string var
        # (or default false if undefined) to evaluate to false boolean, and use Python or logic operator
        resource_group: "{{ (sap_vm_provision_msazure_private_dns_resource_group_name | d(sap_vm_provision_msazure_resource_group_name)) }}"
        zone_name: "{{ hostvars[host_node].sap_vm_provision_dns_root_domain }}"
        relative_name: "{{ __sap_vm_provision_fact_ha_hostname_nwas_abap_ers }}"
        record_type: A
        records:
          - entry: "{{ sap_vm_provision_ha_vip_nwas_abap_ers | regex_replace('/.*', '') }}"
        subscription_id: "{{ sap_vm_provision_msazure_subscription_id }}"
        tenant: "{{ sap_vm_provision_msazure_tenant_id }}"
        client_id: "{{ sap_vm_provision_msazure_app_client_id }}"
        secret: "{{ sap_vm_provision_msazure_app_client_secret }}"
      loop: "{{ (groups[sap_vm_provision_group_nwas_ers] | d([])) }}"
      loop_control:
        loop_var: host_node
      register: __sap_vm_provision_register_msazure_dns_vip_ers
      no_log: "{{ __sap_vm_provision_no_log }}"


    - name: SAP VM Provision - Azure - Define Ansible Variables for Azure Load Balancer - VIP for SAP NetWeaver ASCS/ERS
      ansible.builtin.set_fact:
        __sap_vm_provision_fact_lb_configuration_ascs_ers:
          "{{ __sap_vm_provision_fact_lb_configuration_ascs_ers | d([]) + [__ip_element] }}"
      vars:
        __ip_element:
          name: "{{ sap_vm_provision_ha_load_balancer_name_nwas + '-vip' + (vip_index_nr | string) }}"
          private_ip_address: "{{ vip_item | regex_replace('/.*', '') }}"
          private_ip_allocation_method: "Static"
          subnet: "{{ __sap_vm_provision_register_msazure_vnet_subnet_info.subnets[0].id }}"
          zones: ["1", "2", "3"] # Zone-redundant
      loop:
        - "{{ sap_vm_provision_ha_vip_nwas_abap_ascs }}"
        - "{{ sap_vm_provision_ha_vip_nwas_abap_ers }}"
      loop_control:
        index_var: vip_index_nr
        loop_var: vip_item

    # Temporary ports are set now, then updated in post_deployment
    # Databases are always set at 55550 so ASCS and ERS start at 55551
    - name: SAP VM Provision - Azure - Define Ansible Variables for Azure Load Balancer - VIP Health Check for SAP NetWeaver ASCS/ERS
      ansible.builtin.set_fact:
        __sap_vm_provision_fact_lb_probes_ascs_ers:
          "{{ __sap_vm_provision_fact_lb_probes_ascs_ers | d([]) + [__probe_element] }}"
      vars:
        __probe_element:
          name: "{{ sap_vm_provision_ha_load_balancer_name_nwas + '-probe-hc-vip' + (healthcheck_index_nr | string) }}"
          protocol: Tcp
          port: "{{ 55551 + healthcheck_index_nr }}"
          interval: 5
          fail_count: 2
      loop:
        - "{{ sap_vm_provision_ha_vip_nwas_abap_ascs }}"
        - "{{ sap_vm_provision_ha_vip_nwas_abap_ers }}"
      loop_control:
        index_var: healthcheck_index_nr
        loop_var: healthcheck_item

    - name: SAP VM Provision - Azure - Define Ansible Variables for Azure Load Balancer - LB Rule for SAP NetWeaver ASCS/ERS
      ansible.builtin.set_fact:
        __sap_vm_provision_fact_lb_rules_ascs_ers:
          "{{ __sap_vm_provision_fact_lb_rules_ascs_ers | d([]) + [__rule_element] }}"
      vars:
        __rule_element:
          name: "{{ sap_vm_provision_ha_load_balancer_name_nwas + '-rule' + (rule_index_nr | string) }}"
          frontend_ip_configuration: "{{ sap_vm_provision_ha_load_balancer_name_nwas + '-vip' + (rule_index_nr | string) }}"
          backend_address_pool: "{{ sap_vm_provision_ha_load_balancer_name_nwas + '-ascs-backend-pool' }}"
          protocol: All
          frontend_port: 0 # High Availability Ports (AnyPort), only on Internal Standard Load Balancer
          backend_port: 0 # High Availability Ports (AnyPort), only on Internal Standard Load Balancer
          probe: "{{ sap_vm_provision_ha_load_balancer_name_nwas + '-probe-hc-vip' + (rule_index_nr | string) }}"
          load_distribution: Default # Session persistence = None
          idle_timeout: 30 # 30 minutes
          # enable Frontend IP as a Floating IP (aka. Direct Server Return), if disabled then only 1 LB Rule allowed
          enable_floating_ip: true
      loop:
        - "{{ sap_vm_provision_ha_vip_nwas_abap_ascs }}"
        - "{{ sap_vm_provision_ha_vip_nwas_abap_ers }}"
      loop_control:
        index_var: rule_index_nr
        loop_var: rule_item


    - name: SAP VM Provision - Azure - Create NLB for SAP NetWeaver with Virtual IP and Health Probe configuration
      azure.azcollection.azure_rm_loadbalancer:
        resource_group: "{{ sap_vm_provision_msazure_resource_group_name }}"
        name: "{{ sap_vm_provision_ha_load_balancer_name_nwas }}"
        # AnyPort (HA Port) Protocol rule is not allowed for basic SKU load balancer, use standard SKU load balancer instead
        sku: "Standard"
        backend_address_pools:
          - name: "{{ sap_vm_provision_ha_load_balancer_name_nwas + '-ascs-backend-pool' }}"

        frontend_ip_configurations: "{{ __sap_vm_provision_fact_lb_configuration_ascs_ers | d([]) }}"
        probes: "{{ __sap_vm_provision_fact_lb_probes_ascs_ers | d([]) }}"
        load_balancing_rules: "{{ __sap_vm_provision_fact_lb_rules_ascs_ers | d([]) }}"

        subscription_id: "{{ sap_vm_provision_msazure_subscription_id }}"
        tenant: "{{ sap_vm_provision_msazure_tenant_id }}"
        client_id: "{{ sap_vm_provision_msazure_app_client_id }}"
        secret: "{{ sap_vm_provision_msazure_app_client_secret }}"
      register: __sap_vm_provision_register_msazure_lb_create_ascs_ers
      no_log: "{{ __sap_vm_provision_no_log }}"


    - name: SAP VM Provision - Azure - Update network interfaces for MS Azure VM - for SAP NetWeaver HA ASCS/ERS with load balancing
      azure.azcollection.azure_rm_networkinterface:
        resource_group: "{{ sap_vm_provision_msazure_resource_group_name }}"
        location: "{{ sap_vm_provision_msazure_location_region }}"
        name: "{{ host_node }}-nic"
        virtual_network: "{{ sap_vm_provision_msazure_vnet_name }}"
        subnet_name: "{{ sap_vm_provision_msazure_vnet_subnet_name }}"
        create_with_security_group: false
        ip_configurations:
          - name: "{{ host_node }}-nic-ipconfig"
            primary: true
            # private_ip_allocation_method: "Static" # When static, must define the specific IP Address
            load_balancer_backend_address_pools:
              - "{{ __sap_vm_provision_register_msazure_lb_create_ascs_ers.state.backend_address_pools
                | selectattr('name', '==', sap_vm_provision_ha_load_balancer_name_nwas + '-backend-pool')
                | map(attribute='id') | first }}"
        enable_accelerated_networking: true
        # When disable the Anti IP Spoofing = true, then Enable IP Forwarding = true
        enable_ip_forwarding: "{{ __sap_vm_provision_host_dict_spec.disable_ip_anti_spoofing }}"
        subscription_id: "{{ sap_vm_provision_msazure_subscription_id }}"
        tenant: "{{ sap_vm_provision_msazure_tenant_id }}"
        client_id: "{{ sap_vm_provision_msazure_app_client_id }}"
        secret: "{{ sap_vm_provision_msazure_app_client_secret }}"
      loop: "{{ __sap_vm_provision_fact_merged_hosts_list }}"
      loop_control:
        loop_var: host_node
      register: __sap_vm_provision_register_msazure_update_vnic_ascs_ers
      no_log: "{{ __sap_vm_provision_no_log }}"
      when:
        - sap_vm_provision_group_nwas_ascs in __sap_vm_provision_host_dict_spec.sap_host_type
          or sap_vm_provision_group_nwas_ers in __sap_vm_provision_host_dict_spec.sap_host_type
