# SPDX-License-Identifier: Apache-2.0
---

# When SAP HANA Scale-Out is used, if host name is not in original specifications then strip suffix node number from host name
- name: SAP VM Provision - Azure - Set host spec for SAP HANA Scale-Out
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_scaleout_origin_hostname: "{{ inventory_hostname | regex_replace('^(.+?)\\d*$', '\\1') }}"
  when:
    - sap_vm_provision_calculate_sap_hana_scaleout_active_coordinator is defined
    - not inventory_hostname in __sap_vm_provision_host_dict_plan.keys()

- name: SAP VM Provision - Azure - Verify if network interface for MS Azure VM already exists (i.e. re-run)
  azure.azcollection.azure_rm_networkinterface_info:
    resource_group: "{{ sap_vm_provision_msazure_resource_group_name }}"
    name: "{{ inventory_hostname }}-nic"
    subscription_id: "{{ sap_vm_provision_msazure_subscription_id }}"
    tenant: "{{ sap_vm_provision_msazure_tenant_id }}"
    client_id: "{{ sap_vm_provision_msazure_app_client_id }}"
    secret: "{{ sap_vm_provision_msazure_app_client_secret }}"
  register: __sap_vm_provision_register_provision_host_single_vnic_info
  no_log: "{{ __sap_vm_provision_no_log }}"

- name: SAP VM Provision - Azure - Provision network interface for MS Azure VM
  azure.azcollection.azure_rm_networkinterface:
    resource_group: "{{ sap_vm_provision_msazure_resource_group_name }}"
    location: "{{ sap_vm_provision_msazure_location_region }}"
    name: "{{ inventory_hostname }}-nic"
    virtual_network: "{{ sap_vm_provision_msazure_vnet_name }}"
    subnet_name: "{{ sap_vm_provision_msazure_vnet_subnet_name }}"
    create_with_security_group: false
    ip_configurations:
      - name: "{{ inventory_hostname }}-nic-ipconfig"
        primary: true
        # private_ip_allocation_method: "Static" # When static, must define the specific IP Address
    enable_accelerated_networking: true
    # When disable the Anti IP Spoofing = true, then Enable IP Forwarding = true
    enable_ip_forwarding: "{{ __sap_vm_provision_host_dict_spec.disable_ip_anti_spoofing }}"
    availability_set: "{{ __availability_set }}"
    subscription_id: "{{ sap_vm_provision_msazure_subscription_id }}"
    tenant: "{{ sap_vm_provision_msazure_tenant_id }}"
    client_id: "{{ sap_vm_provision_msazure_app_client_id }}"
    secret: "{{ sap_vm_provision_msazure_app_client_secret }}"
  register: __sap_vm_provision_register_provision_host_single_vnic
  no_log: "{{ __sap_vm_provision_no_log }}"
  vars:
    __availability_set: "{{ (
      (__sap_vm_provision_register_msazure_availability_set.results | selectattr('item','==','hana'))[0].state.name
      if (sap_vm_provision_group_hana_primary in __sap_vm_provision_host_dict_spec.sap_host_type
        or sap_vm_provision_group_hana_secondary in __sap_vm_provision_host_dict_spec.sap_host_type)
      else
      (__sap_vm_provision_register_msazure_availability_set.results | selectattr('item','==','anydb'))[0].state.name
      if (sap_vm_provision_group_anydb_primary in __sap_vm_provision_host_dict_spec.sap_host_type
        or sap_vm_provision_group_anydb_secondary in __sap_vm_provision_host_dict_spec.sap_host_type)
      else
      (__sap_vm_provision_register_msazure_availability_set.results | selectattr('item','==','nwas'))[0].state.name
      if (sap_vm_provision_group_nwas_ascs in __sap_vm_provision_host_dict_spec.sap_host_type
        or sap_vm_provision_group_nwas_ers in __sap_vm_provision_host_dict_spec.sap_host_type)
      ) | d(omit) }}"
  when: __sap_vm_provision_register_provision_host_single_vnic_info.networkinterfaces | length == 0

- name: SAP VM Provision - Azure - Provision MS Azure VM
  azure.azcollection.azure_rm_virtualmachine:
    resource_group: "{{ sap_vm_provision_msazure_resource_group_name }}"
    location: "{{ sap_vm_provision_msazure_location_region }}"
    name: "{{ inventory_hostname }}"
    admin_username: "azureadmin"
    ssh_password_enabled: false
    ssh_public_keys:
      - path: /home/azureadmin/.ssh/authorized_keys
        key_data: "{{ __sap_vm_provision_register_msazure_key_pair_name_ssh_host_public_key_value }}"
    vm_size: "{{ __sap_vm_provision_host_dict_spec.virtual_machine_profile }}"
    image:
      publisher: "{{ lookup('ansible.builtin.vars', __sap_vm_provision_host_image_dict_name)[sap_vm_provision_msazure_vm_host_os_image].publisher }}"
      offer: "{{ lookup('ansible.builtin.vars', __sap_vm_provision_host_image_dict_name)[sap_vm_provision_msazure_vm_host_os_image].offer }}"
      sku: "{{ lookup('ansible.builtin.vars', __sap_vm_provision_host_image_dict_name)[sap_vm_provision_msazure_vm_host_os_image].sku }}"
      version: latest
    network_interfaces: "{{ inventory_hostname }}-nic"
    public_ip_allocation_method: "Disabled"
    managed_disk_type: StandardSSD_LRS
    remove_on_absent: ["all"]
    vm_identity:
      type: SystemAssigned
    state: "present"
    started: true
    subscription_id: "{{ sap_vm_provision_msazure_subscription_id }}"
    tenant: "{{ sap_vm_provision_msazure_tenant_id }}"
    client_id: "{{ sap_vm_provision_msazure_app_client_id }}"
    secret: "{{ sap_vm_provision_msazure_app_client_secret }}"
  register: __sap_vm_provision_register_provision_host_single
  no_log: "{{ __sap_vm_provision_no_log }}"

- name: SAP VM Provision - Azure - Read MS Azure VM information
  azure.azcollection.azure_rm_virtualmachine_info:
    resource_group: "{{ sap_vm_provision_msazure_resource_group_name }}"
    name: "{{ inventory_hostname }}"
    subscription_id: "{{ sap_vm_provision_msazure_subscription_id }}"
    tenant: "{{ sap_vm_provision_msazure_tenant_id }}"
    client_id: "{{ sap_vm_provision_msazure_app_client_id }}"
    secret: "{{ sap_vm_provision_msazure_app_client_secret }}"
  register: __sap_vm_provision_register_provision_host_single_info
  no_log: "{{ __sap_vm_provision_no_log }}"

- name: SAP VM Provision - Azure - Read MS Azure VM attached disks information
  azure.azcollection.azure_rm_manageddisk_info:
    managed_by: "{{ __sap_vm_provision_register_provision_host_single_info.vms[0].id }}"
    subscription_id: "{{ sap_vm_provision_msazure_subscription_id }}"
    tenant: "{{ sap_vm_provision_msazure_tenant_id }}"
    client_id: "{{ sap_vm_provision_msazure_app_client_id }}"
    secret: "{{ sap_vm_provision_msazure_app_client_secret }}"
  register: __sap_vm_provision_register_ansible_facts_host_disks_info
  no_log: "{{ __sap_vm_provision_no_log }}"

- name: SAP VM Provision - Azure - Create fact for delegate host IP
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_private_ip:
      "{{ __sap_vm_provision_register_provision_host_single.ansible_facts.azure_vm.network_profile.network_interfaces[0].properties.ip_configurations[0].private_ip_address }}"  # noqa yaml[line-length]


- name: SAP VM Provision - Azure - Copy facts to delegate host - when using Bastion SSH Proxy connection from Ansible control node to target node/s
  delegate_to: "{{ __sap_vm_provision_fact_private_ip }}"
  delegate_facts: true
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_ssh_args_bastion: >-
      -o ProxyCommand='ssh -W %h:%p {{ sap_vm_provision_bastion_user }}@{{ sap_vm_provision_bastion_public_ip }}
      -p {{ sap_vm_provision_bastion_ssh_port }}
      -i {{ sap_vm_provision_ssh_bastion_private_key_file_path }}
      {{ sap_vm_provision_ssh_bastion_ssh_args }}'
  when:
    - sap_vm_provision_bastion_execution
    - sap_vm_provision_bastion_user | d('') != ''
    - sap_vm_provision_bastion_public_ip | d('') != ''
    - sap_vm_provision_bastion_ssh_port | d('') != ''
    - sap_vm_provision_ssh_bastion_private_key_file_path | d('') != ''


- name: Block to collect only facts about hardware
  remote_user: azureadmin
  become: true
  become_user: root
  delegate_to: "{{ __sap_vm_provision_fact_private_ip }}"
  delegate_facts: true
  vars:
    ansible_ssh_private_key_file: "{{ sap_vm_provision_ssh_host_private_key_file_path }}"
    ansible_ssh_common_args: "{{ sap_vm_provision_ssh_host_ssh_args }} {{ __sap_vm_provision_fact_ssh_args_bastion | d('') }}"
  block:

    # Required as state: present on Ansible Module azure_rm_virtualmachine does waiting enough until VM has booted
    # wait_for_connection is used instead to ensure connection is available before proceeding.
    - name: SAP VM Provision - Azure - Wait until SSH connection is available
      ansible.builtin.wait_for_connection:
        timeout: 300

    - name: SAP VM Provision - Azure - Collect only facts about hardware
      ansible.builtin.setup:
        gather_subset:
          - hardware
      retries: 60
      delay: 10
      register: __sap_vm_provision_register_gather_subset_hardware

- name: SAP VM Provision - Azure - Set fact for available storage volume device names
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_available_volumes: |-
      {% set letters = 'bcdefghijklmnopqrstuvwxyz' %}
      {% set ansible_facts_devices_used_list = __sap_vm_provision_register_gather_subset_hardware.ansible_facts.ansible_device_links.ids.keys() | list %}
      {% set volumes = [] %}
      {%- for letter in letters -%}
        {% for device in ansible_facts_devices_used_list -%}
          {% if '/dev/sd' + letter not in device -%}
            {% set dev = volumes.append('/dev/sd' + letter) %}
      {%- endif %}
      {%- endfor %}
      {% endfor %}
      {{ volumes | list | unique }}

# Combination of only the filesystem volume information from the host_specifications_dictionary
# for volume device assignment. This task assigns device names for each volume to be created.
- name: SAP VM Provision - Azure - Set fact for target device map
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_filesystem_volume_map: |
      {% set volume_map = [] -%}
      {% set av_vol = __sap_vm_provision_fact_available_volumes -%}
      {% for storage_item in __sap_vm_provision_host_dict_spec.storage_definition -%}
        {% for idx in range(0, storage_item.disk_count | d(1)) -%}
          {% if (storage_item.filesystem_type is defined) -%}
            {% if ('swap' in storage_item.filesystem_type and storage_item.swap_path is not defined)
            or ('swap' not in storage_item.filesystem_type and storage_item.nfs_path is not defined) -%}
              {% set vol = volume_map.extend([
              {
                'definition_key': storage_item.name,
                'device': av_vol[0],
                'fstype': storage_item.filesystem_type | d('xfs'),
                'name': storage_item.name + idx|string,
                'size': storage_item.disk_size | d(0),
                'type': storage_item.disk_type | d('')
              }
              ]) %}
            {%- set _ = av_vol.pop(0) -%}
            {%- endif %}
          {%- endif %}
        {%- endfor %}
      {%- endfor %}
      {{ volume_map }}


# The volume creation task requires the above task to define the parameter
# which contains the calculated unique device names.
- name: SAP VM Provision - Azure - Provision Azure Managed Disk volumes for Azure VM filesystems
  azure.azcollection.azure_rm_manageddisk:
    resource_group: "{{ sap_vm_provision_msazure_resource_group_name }}"
    location: "{{ sap_vm_provision_msazure_location_region }}"
    name: "{{ inventory_hostname }}-vol_{{ vol_item.name }}"
    disk_size_gb: "{{ vol_item.size }}"
    managed_by_extended:
      - name: "{{ inventory_hostname }}"
        resource_group: "{{ sap_vm_provision_msazure_resource_group_name }}"
    # Premium SSD size (P), Standard SSD size (E), Standard HDD size (S)
    # Standard_LRS, StandardSSD_LRS, StandardSSD_ZRS, Premium_LRS, Premium_ZRS, UltraSSD_LRS, PremiumV2_LRS
    storage_account_type: >-
      {%- if vol_item.type | regex_search('^P.*') -%}
        Premium_LRS
      {%- elif vol_item.type | regex_search('^E.*') -%}
        StandardSSD_LRS
      {%- elif vol_item.type | regex_search('^S.*') -%}
        Standard_LRS
      {%- else -%}
        StandardSSD_LRS
      {%- endif -%}
    subscription_id: "{{ sap_vm_provision_msazure_subscription_id }}"
    tenant: "{{ sap_vm_provision_msazure_tenant_id }}"
    client_id: "{{ sap_vm_provision_msazure_app_client_id }}"
    secret: "{{ sap_vm_provision_msazure_app_client_secret }}"
  loop: "{{ __sap_vm_provision_fact_filesystem_volume_map }}"
  loop_control:
    loop_var: vol_item
    index_var: vol_item_index
    label: "{{ vol_item.definition_key }}: {{ vol_item.name }} (size: {{ vol_item.size }})"
  register: __sap_vm_provision_register_volume_results
  no_log: "{{ __sap_vm_provision_no_log }}"
  when:
    - vol_item.fstype is defined
    - vol_item.size > 0
  failed_when:
    - __sap_vm_provision_register_volume_results.msg is defined
    - ('already exists' not in __sap_vm_provision_register_volume_results.msg)


- name: SAP VM Provision - Azure - Add host facts about provisioned disks
  delegate_to: "{{ inventory_hostname }}"
  delegate_facts: true
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_filesystem_volume_map: "{{ __sap_vm_provision_fact_filesystem_volume_map }}"
    __sap_vm_provision_register_volume_results: "{{ __sap_vm_provision_register_volume_results }}"


### begin block, parameters will be applied to each task within the block
- name: Allow login from root OS User
  remote_user: azureadmin
  become: true
  become_user: root
  delegate_to: "{{ __sap_vm_provision_fact_private_ip }}"
  delegate_facts: true
  vars:
    ansible_ssh_private_key_file: "{{ sap_vm_provision_ssh_host_private_key_file_path }}"
    ansible_ssh_common_args: "{{ sap_vm_provision_ssh_host_ssh_args }} {{ __sap_vm_provision_fact_ssh_args_bastion | d('') }}"
  block:

    - name: SAP VM Provision - Azure - Fix root authorized_keys entries
      ansible.builtin.replace:
        path: /root/.ssh/authorized_keys
        backup: true
        regexp: '(^.*ssh-)' # Allow ssh-rsa , ssh-ed25519 etc.
        replace: 'ssh-'

    # We cannot obtain these facts from delegate without registering them first.
    # NOTE: Ansible 2.20 deprecation warning for ansible_facts does not seem to apply here.
    - name: SAP VM Provision - Azure - Get OS distribution facts on delegate host
      ansible.builtin.setup:
        gather_subset:
          - 'distribution_major_version'
          - 'os_family'
      register: __sap_vm_provision_register_gather_subset

    - name: SAP VM Provision - Azure - Permit root login
      ansible.builtin.replace:
        path: "{{ __sap_vm_provision_ssh_config_path }}"
        regexp: '(^PermitRootLogin no)'
        replace: 'PermitRootLogin yes'
      register: __sap_vm_provision_register_update_sshd_config
      vars:
        # Path to SSH config, which is different starting with SLES 16.
        __sap_vm_provision_ssh_config_path: >-
          {{ '/usr/etc/ssh/sshd_config'
              if __sap_vm_provision_register_gather_subset.ansible_facts['ansible_os_family'] == 'Suse' and
              (__sap_vm_provision_register_gather_subset.ansible_facts['ansible_distribution_major_version'] | int) >= 16
              else '/etc/ssh/sshd_config' }}

    - name: SAP VM Provision - Azure - Reload sshd service  # noqa no-handler
      ansible.builtin.service:
        name: sshd
        state: reloaded
      when: __sap_vm_provision_register_update_sshd_config.changed


- name: SAP VM Provision - Azure - Combine details of provisioned hosts into one list
  ansible.builtin.set_fact:
    __sap_vm_provision_fact_provisioned_hosts: "{{ __sap_vm_provision_fact_provisioned_hosts + [__merged_results] }}"
  # Append keys to provisioning result, that are not part of default return dictionary.
  vars:
    __merged_results:
      "{{ __sap_vm_provision_register_provision_host_single
        | combine({'host_node': inventory_hostname},
        {'sap_host_type': __sap_vm_provision_host_dict_spec.sap_host_type},
        {'sap_system_type': (__sap_vm_provision_host_dict_spec.sap_system_type | d(''))}) }}"
