# SPDX-License-Identifier: Apache-2.0
---

# Ansible Task block for amending Load Balancer ports for High Availability - after provisioning MS Azure VM

- name: SAP VM Provision - Azure - Identify hosts
  ansible.builtin.include_tasks:
    file: common/identify_hosts.yml

- name: Block for High Availability tasks
  delegate_to: "{{ sap_vm_provision_execution_host }}"
  run_once: true
  environment:
    ANSIBLE_AZURE_AUTH_SOURCE: "auto" # Set to auto to use module parameters
  when:
    - __sap_vm_provision_fact_is_ha_hana or __sap_vm_provision_fact_is_ha_anydb or __sap_vm_provision_fact_is_ha_nwas_ers
  block:

    - name: SAP VM Provision - Azure - Gather MS Azure Subnet ID
      azure.azcollection.azure_rm_subnet_info:
        resource_group: "{{ sap_vm_provision_msazure_resource_group_name }}"
        virtual_network_name: "{{ sap_vm_provision_msazure_vnet_name }}"
        name: "{{ sap_vm_provision_msazure_vnet_subnet_name }}"
        subscription_id: "{{ sap_vm_provision_msazure_subscription_id }}"
        tenant: "{{ sap_vm_provision_msazure_tenant_id }}"
        client_id: "{{ sap_vm_provision_msazure_app_client_id }}"
        secret: "{{ sap_vm_provision_msazure_app_client_secret }}"
      register: __sap_vm_provision_register_msazure_vnet_subnet_info
      no_log: "{{ __sap_vm_provision_no_log }}"


    - name: Block for HANA HA
      when: __sap_vm_provision_fact_is_ha_hana
      block:

        # All set_facts are removed because VIP is always one and we can set it directly.
        - name: SAP VM Provision - Azure - Update NLB for SAP HANA with Virtual IP and Health Probe configuration
          azure.azcollection.azure_rm_loadbalancer:
            resource_group: "{{ sap_vm_provision_msazure_resource_group_name }}"
            name: "{{ sap_vm_provision_ha_load_balancer_name_hana }}"
            # AnyPort (HA Port) Protocol rule is not allowed for basic SKU load balancer, use standard SKU load balancer instead
            sku: "Standard"
            backend_address_pools:
              - name: "{{ sap_vm_provision_ha_load_balancer_name_hana + '-backend-pool' }}"

            frontend_ip_configurations:
              - name: "{{ sap_vm_provision_ha_load_balancer_name_hana + '-vip' }}"
                private_ip_address: "{{ sap_vm_provision_ha_vip_hana_primary | regex_replace('/.*', '') }}"
                private_ip_allocation_method: "Static"
                subnet: "{{ __sap_vm_provision_register_msazure_vnet_subnet_info.subnets[0].id }}"
                zones: ["1", "2", "3"] # Zone-redundant

            probes:
              - name: "{{ sap_vm_provision_ha_load_balancer_name_hana + '-probe-hc-vip' }}"
                protocol: Tcp
                port: "{{ __sap_vm_provision_fact_ha_lb_hana_primary_port }}"
                interval: 5
                fail_count: 2

            load_balancing_rules:
              - name: "{{ sap_vm_provision_ha_load_balancer_name_hana + '-rule' }}"
                frontend_ip_configuration: "{{ sap_vm_provision_ha_load_balancer_name_hana + '-vip' }}"
                backend_address_pool: "{{ sap_vm_provision_ha_load_balancer_name_hana + '-backend-pool' }}"
                protocol: All
                frontend_port: 0 # High Availability Ports (AnyPort), only on Internal Standard Load Balancer
                backend_port: 0 # High Availability Ports (AnyPort), only on Internal Standard Load Balancer
                probe: "{{ sap_vm_provision_ha_load_balancer_name_hana + '-probe-hc-vip' }}"
                load_distribution: Default # Session persistence = None
                idle_timeout: 30 # 30 minutes
                # enable Frontend IP as a Floating IP (aka. Direct Server Return), if disabled then only 1 LB Rule allowed
                enable_floating_ip: true

            subscription_id: "{{ sap_vm_provision_msazure_subscription_id }}"
            tenant: "{{ sap_vm_provision_msazure_tenant_id }}"
            client_id: "{{ sap_vm_provision_msazure_app_client_id }}"
            secret: "{{ sap_vm_provision_msazure_app_client_secret }}"
          register: __sap_vm_provision_register_msazure_lb_update_hana
          no_log: "{{ __sap_vm_provision_no_log }}"


    - name: Block for AnyDB HA
      when: __sap_vm_provision_fact_is_ha_anydb
      block:

        # All set_facts are removed because VIP is always one and we can set it directly.
        - name: SAP VM Provision - Azure - Update NLB for SAP AnyDB with Virtual IP and Health Probe configuration
          azure.azcollection.azure_rm_loadbalancer:
            resource_group: "{{ sap_vm_provision_msazure_resource_group_name }}"
            name: "{{ sap_vm_provision_ha_load_balancer_name_anydb }}"
            # AnyPort (HA Port) Protocol rule is not allowed for basic SKU load balancer, use standard SKU load balancer instead
            sku: "Standard"
            backend_address_pools:
              - name: "{{ sap_vm_provision_ha_load_balancer_name_anydb + '-backend-pool' }}"

            frontend_ip_configurations:
              - name: "{{ sap_vm_provision_ha_load_balancer_name_anydb + '-vip' }}"
                private_ip_address: "{{ sap_vm_provision_ha_vip_anydb_primary | regex_replace('/.*', '') }}"
                private_ip_allocation_method: "Static"
                subnet: "{{ __sap_vm_provision_register_msazure_vnet_subnet_info.subnets[0].id }}"
                zones: ["1", "2", "3"] # Zone-redundant

            probes:
              - name: "{{ sap_vm_provision_ha_load_balancer_name_anydb + '-probe-hc-vip' }}"
                protocol: Tcp
                port: "{{ __sap_vm_provision_fact_ha_lb_anydb_primary_port }}"
                interval: 5
                fail_count: 2

            load_balancing_rules:
              - name: "{{ sap_vm_provision_ha_load_balancer_name_anydb + '-rule' }}"
                frontend_ip_configuration: "{{ sap_vm_provision_ha_load_balancer_name_anydb + '-vip' }}"
                backend_address_pool: "{{ sap_vm_provision_ha_load_balancer_name_anydb + '-backend-pool' }}"
                protocol: All
                frontend_port: 0 # High Availability Ports (AnyPort), only on Internal Standard Load Balancer
                backend_port: 0 # High Availability Ports (AnyPort), only on Internal Standard Load Balancer
                probe: "{{ sap_vm_provision_ha_load_balancer_name_anydb + '-probe-hc-vip' }}"
                load_distribution: Default # Session persistence = None
                idle_timeout: 30 # 30 minutes
                # enable Frontend IP as a Floating IP (aka. Direct Server Return), if disabled then only 1 LB Rule allowed
                enable_floating_ip: true

            subscription_id: "{{ sap_vm_provision_msazure_subscription_id }}"
            tenant: "{{ sap_vm_provision_msazure_tenant_id }}"
            client_id: "{{ sap_vm_provision_msazure_app_client_id }}"
            secret: "{{ sap_vm_provision_msazure_app_client_secret }}"
          register: __sap_vm_provision_register_msazure_lb_update_anydb
          no_log: "{{ __sap_vm_provision_no_log }}"


    - name: Block for ASCS/ERS HA
      when: __sap_vm_provision_fact_is_ha_nwas_ers
      block:

        - name: SAP VM Provision - Azure - Define Ansible Variables for Azure Load Balancer - VIP for SAP NetWeaver ASCS/ERS
          ansible.builtin.set_fact:
            __sap_vm_provision_fact_lb_configuration_ascs_ers:
              "{{ __sap_vm_provision_fact_lb_configuration_ascs_ers | d([]) + [__ip_element] }}"
          vars:
            __ip_element:
              name: "{{ sap_vm_provision_ha_load_balancer_name_nwas + '-vip' + (vip_index_nr | string) }}"
              private_ip_address: "{{ vip_item | regex_replace('/.*', '') }}"
              private_ip_allocation_method: "Static"
              subnet: "{{ __sap_vm_provision_register_msazure_vnet_subnet_info.subnets[0].id }}"
              zones: ["1", "2", "3"] # Zone-redundant
          loop:
            - "{{ sap_vm_provision_ha_vip_nwas_abap_ascs }}"
            - "{{ sap_vm_provision_ha_vip_nwas_abap_ers }}"
          loop_control:
            index_var: vip_index_nr
            loop_var: vip_item

        - name: SAP VM Provision - Azure - Define Ansible Variables for Azure Load Balancer - VIP Health Check for SAP NetWeaver ASCS/ERS
          ansible.builtin.set_fact:
            __sap_vm_provision_fact_lb_probes_ascs_ers:
              "{{ __sap_vm_provision_fact_lb_probes_ascs_ers | d([]) + [__probe_element] }}"
          vars:
            __probe_element:
              name: "{{ sap_vm_provision_ha_load_balancer_name_nwas + '-probe-hc-vip' + (healthcheck_index_nr | string) }}"
              protocol: Tcp
              port: "{{ healthcheck_item }}"
              interval: 5
              fail_count: 2
          loop:
            - "{{ __sap_vm_provision_fact_ha_lb_nwas_abap_ascs_port }}"
            - "{{ __sap_vm_provision_fact_ha_lb_nwas_abap_ers_port }}"
          loop_control:
            index_var: healthcheck_index_nr
            loop_var: healthcheck_item

        - name: SAP VM Provision - Azure - Define Ansible Variables for Azure Load Balancer - LB Rule for SAP NetWeaver ASCS/ERS
          ansible.builtin.set_fact:
            __sap_vm_provision_fact_lb_rules_ascs_ers:
              "{{ __sap_vm_provision_fact_lb_rules_ascs_ers | d([]) + [__rule_element] }}"
          vars:
            __rule_element:
              name: "{{ sap_vm_provision_ha_load_balancer_name_nwas + '-rule' + (rule_index_nr | string) }}"
              frontend_ip_configuration: "{{ sap_vm_provision_ha_load_balancer_name_nwas + '-vip' + (rule_index_nr | string) }}"
              backend_address_pool: "{{ sap_vm_provision_ha_load_balancer_name_nwas + '-ascs-backend-pool' }}"
              protocol: All
              frontend_port: 0 # High Availability Ports (AnyPort), only on Internal Standard Load Balancer
              backend_port: 0 # High Availability Ports (AnyPort), only on Internal Standard Load Balancer
              probe: "{{ sap_vm_provision_ha_load_balancer_name_nwas + '-probe-hc-vip' + (rule_index_nr | string) }}"
              load_distribution: Default # Session persistence = None
              idle_timeout: 30 # 30 minutes
              # enable Frontend IP as a Floating IP (aka. Direct Server Return), if disabled then only 1 LB Rule allowed
              enable_floating_ip: true
          loop:
            - "{{ sap_vm_provision_ha_vip_nwas_abap_ascs }}"
            - "{{ sap_vm_provision_ha_vip_nwas_abap_ers }}"
          loop_control:
            index_var: rule_index_nr
            loop_var: rule_item


        - name: SAP VM Provision - Azure - Update NLB for SAP NetWeaver with Virtual IP and Health Probe configuration
          azure.azcollection.azure_rm_loadbalancer:
            resource_group: "{{ sap_vm_provision_msazure_resource_group_name }}"
            name: "{{ sap_vm_provision_ha_load_balancer_name_nwas }}"
            # AnyPort (HA Port) Protocol rule is not allowed for basic SKU load balancer, use standard SKU load balancer instead
            sku: "Standard"
            backend_address_pools:
              - name: "{{ sap_vm_provision_ha_load_balancer_name_nwas + '-ascs-backend-pool' }}"

            frontend_ip_configurations: "{{ __sap_vm_provision_fact_lb_configuration_ascs_ers | d([]) }}"
            probes: "{{ __sap_vm_provision_fact_lb_probes_ascs_ers | d([]) }}"
            load_balancing_rules: "{{ __sap_vm_provision_fact_lb_rules_ascs_ers | d([]) }}"

            subscription_id: "{{ sap_vm_provision_msazure_subscription_id }}"
            tenant: "{{ sap_vm_provision_msazure_tenant_id }}"
            client_id: "{{ sap_vm_provision_msazure_app_client_id }}"
            secret: "{{ sap_vm_provision_msazure_app_client_secret }}"
          register: __sap_vm_provision_register_msazure_lb_update_ascs_ers
          no_log: "{{ __sap_vm_provision_no_log }}"


  rescue:
    # This requires no_log set on each Ansible Task, and not set on the Ansible Task Block
    # This requires an Ansible Task Block containing the Ansible Tasks for calling
    # Infrastructure Platform APIs (via Ansible Modules)
    - name: SAP VM Provision - Azure - Show errors in task outputs
      ansible.builtin.fail:
        msg: "{{ lookup('ansible.builtin.vars', loop_item) }}"
      loop:
        - __sap_vm_provision_register_msazure_vnet_subnet_info
        # HANA
        - __sap_vm_provision_register_msazure_lb_update_hana
        - __sap_vm_provision_register_msazure_update_vnic_hana
        # AnyDB
        - __sap_vm_provision_register_msazure_lb_update_anydb
        # ASCS/ERS
        - __sap_vm_provision_register_msazure_lb_update_ascs_ers
      loop_control:
        loop_var: loop_item
        index_var: loop_item_index
        label: "{{ 'Variable No. ' + (loop_item_index | string) }}"
      when:
        - lookup('ansible.builtin.vars', loop_item, default='') | length > 0
        - not lookup('ansible.builtin.vars', loop_item, default='') is skipped
        - lookup('ansible.builtin.vars', loop_item, default='') is failed

    - name: SAP VM Provision - Azure - Fail if provisioning failed
      ansible.builtin.fail:
        msg: |
          FAIL: Provisioning has failed during one of tasks not producing registered output.
          You can investigate failure in tasks above or by:
          - Increasing verbosity
          - Setting the variable '__sap_vm_provision_no_log' to 'false'
